<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-l">
      {# <span class="govuk-caption-l">Task list</span> #}
      Create a new plan
    </h2>
    
    <ol class="app-task-list">
      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">1. </span> Write about the individual
        </h2>
        <ul class="app-task-list__items">
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <h3 class="govuk-heading-s govuk-!-margin-bottom-2">
                Responsivity
              </h3>
            {% if data['responsivity-complete'] %}
              <a href="/offender/responsivity/check-your-answers" class="govuk-link govuk-link--no-visited-state">
                Review information
              </a>
            </span>
              <strong class="moj-badge app-task-list__task-completed">
                Completed
              </strong>
            {% else %}
              <a href="/offender/responsivity/diversity" class="govuk-link govuk-link--no-visited-state">
                Add details
              </a>
            </span>
              <strong class="moj-badge moj-badge--grey app-task-list__task-completed">
                Not started
              </strong>
            {% endif %}
          </li>
        </ul>
      </li>


      
      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">2. </span> Add objectives
        </h2>
        {{ govukInsetText ({
          text: 'Each objective can have multiple actions.'
        }) }}
        {% if data['unpaidwork'] and data['objective-one-complete'] %}
          <ul class="app-task-list__items govuk-!-margin-bottom-4">
        {% elif data['objective-one-complete'] and data['objective-two-complete'] %}
          <ul class="app-task-list__items govuk-!-margin-bottom-4">
        {% else %}
          <ul class="app-task-list__items">
        {% endif %}
        {% if data['unpaidwork'] %}
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <h3 class="govuk-heading-s govuk-!-margin-bottom-2">
                Objective 1
              </h3>
              <p class="govuk-body-s">Unpaid work court order</p>
              <a href="/offender/unpaid-work/check-your-answers" class="govuk-link govuk-link--no-visited-state">
                View details
              </a>
            </span>
            <strong class="moj-badge app-task-list__task-completed">
              Completed
            </strong>
          </li>
        {% endif %}
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <h3 class="govuk-heading-s govuk-!-margin-bottom-2">
                Add objective {{ "2" if data['unpaidwork'] == "yes" else "1" }}
              </h3>
            {% if data['objective-one-complete'] %}
              <p class="govuk-body-s">{{ data['goal1-description'] }}</p>
              <a href="/offender/objective-one/check-your-answers" class="govuk-link govuk-link--no-visited-state">
                Edit objective
              </a>
            </span>
              <strong class="moj-badge app-task-list__task-completed">
                Completed
              </strong>
            {% else %}
              <a href="/offender/objective-one/goal" class="govuk-link govuk-link--no-visited-state">
                Add details
              </a>
            </span>
              <strong class="moj-badge moj-badge--grey app-task-list__task-completed">
                {{ "Optional" if data['unpaidwork'] == "yes" else "Not started" }} 
              </strong>
            {% endif %}
          </li>
          {% if data['objective-one-complete'] %}
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <h3 class="govuk-heading-s govuk-!-margin-bottom-2">
                Add objective {{ "3" if data['unpaidwork'] == "yes" else "2" }}
              </h3>
            {% if data['objective-two-complete'] %}
              <p class="govuk-body-s">{{ data['goal2-description'] }}</p>
              <a href="/offender/objective-two/check-your-answers" class="govuk-link govuk-link--no-visited-state">
                Edit objective
              </a>
            </span>
              <strong class="moj-badge app-task-list__task-completed">
                Completed
              </strong>
            {% else %}
              <a href="/offender/objective-two/goal" class="govuk-link govuk-link--no-visited-state">
                Add details
              </a>
            </span>
              <strong class="moj-badge moj-badge--grey app-task-list__task-completed">
                Optional
              </strong>
            {% endif %}
          </li>
          {% endif %}
          {% if data['objective-two-complete'] %}
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <h3 class="govuk-heading-s govuk-!-margin-bottom-2">
                Add objective {{ "4" if data['unpaidwork'] == "yes" else "3" }}
              </h3>
              <a href="#0" class="govuk-link govuk-link--no-visited-state">
                Add details
              </a>
            </span>
            <strong class="moj-badge moj-badge--grey app-task-list__task-completed">
              Optional
            </strong>
          </li>
          {% endif %}
          {% if not data['objective-one-complete'] and data['unpaidwork'] != 'yes' %}
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <h3 class="govuk-heading-s govuk-!-margin-bottom-2">
                Add objective 2
              </h3>
              <span class="secondary-text">Add objective 1 first</span>
            </span>
            <strong class="moj-badge moj-badge--grey app-task-list__task-completed">
              Cannot start yet
            </strong>
          </li>
          {% endif %}
        </ul>
        {% if data['unpaidwork'] and data['objective-one-complete'] %}
          {{ govukButton ({
            text: 'Reorder objectives',
            href: '#',
            classes: 'govuk-button--secondary'
          }) }}
        {% elif data['objective-one-complete'] and data['objective-two-complete'] %}
          {{ govukButton ({
            text: 'Reorder objectives',
            href: 'reorder-objectives',
            classes: 'govuk-button--secondary'
          }) }}
        {% endif %}
      </li>
      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">3. </span> Enter final information
        </h2>
        <ul class="app-task-list__items">
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              {% if data['objective-one-complete'] or data['unpaidwork'] == "yes" %}
                <h3 class="govuk-heading-s govuk-!-margin-bottom-2">
                  Decisions and comments
                </h3>
                {% if data['final-complete'] %}
                  <a href="/offender/final/check-your-answers" class="govuk-link govuk-link--no-visited-state">
                    Review information
                  </a>
                </span>
                  <strong class="moj-badge app-task-list__task-completed">
                    Completed
                  </strong>
                {% else %}
                  <a href="/offender/final/decisions" class="govuk-link govuk-link--no-visited-state">
                    Add details
                  </a>
                </span>
                  <strong class="moj-badge moj-badge--grey app-task-list__task-completed">
                    Not started
                  </strong>
                {% endif %}
              {% else %}
                <h3 class="govuk-heading-s govuk-!-margin-bottom-2">
                  Decisions and comments
                </h3>
                <span class="secondary-text">Add at least one objective first</span>
              </span>
            <strong class="moj-badge moj-badge--grey app-task-list__task-completed">
              Cannot start yet
            </strong>
              {% endif %}
            
          </li>
        </ul>
      </li>
    </ol>

    
    {% if data['final-complete'] %}
      <form class="form" action="/offender/plan-saved" method="post">
        <input type="hidden" name="plan-status" value="saved">

        {{ govukButton ({
          text: 'Start the plan'
        }) }}
      </form>
    {% else %}
      {{ govukButton ({
        text: 'Start the plan',
        href: '#0'
      }) }}
    {% endif %}

    
  </div>
</div>