{# {% set dueDate1 = data['step-date-year'] + "-" + data['step-date-month'] + "-" + data['step-date-day'] %} #}

<li>
  {% if data['plan-status'] == 'saved' %}
    <a href="/offender/goal?goal=goal2"  class="task">
  {% else %}
    <a href="add-goal2/check-your-answers" class="task">
  {% endif %}
    <span class="task__heading">
      {{ data['goal2-description'] | nl2br | safe }}
    </span>

    {# {{ data['status'] }} &middot; Due by {{ dueDate | date("D MMMM YYYY") }} #}
    {# <ul class="govuk-list list-tags">
      <li class="govuk-!-font-weight-bold">Needs:</li>
      {% for need in data['goal2-needs'] %}
        <li class="tag">{{ need | replace(" – <span class='risk'>Risk of serious harm</span>", "") }}</li>
      {% endfor %}
    </ul> #}
    {% if data['plan-status'] == 'draft' %}
      <p class="govuk-body-s govuk-!-margin-top-1 govuk-!-margin-bottom-0">
      {% if data['linked-step'].length > 1 %}
        3 steps
      {% elif data['linked-step'].length == 1 %}
        2 steps
      {% else %}
        1 step
      {% endif %}
      </p>
    {% else %}
      <p class="govuk-body-s govuk-!-margin-top-1 govuk-!-margin-bottom-0">
      {% if data['linked-step'].length > 1 %}
        0 of 3 steps completed
      {% elif data['linked-step'].length == 1 %}
        0 of 2 steps completed
      {% else %}
        0 of 1 steps completed
      {% endif %}
      </p>
    {% endif %}
  </a>
</li>