{# {% set dueDate1 = data['step-date-year'] + "-" + data['step-date-month'] + "-" + data['step-date-day'] %} #}

<li>
{% if data['plan-status'] == 'saved' %}
  <a href="/offender/goals/1" class="task">
{% else %}
  <a href="add-goal/check-your-answers" class="task">
{% endif %}
    <span class="task__heading">
      {{ data['goal1-description'] | nl2br | safe }}
    </span>

    {# {{ data['status'] }} &middot; Due by {{ dueDate | date("D MMMM YYYY") }} #}
    <ul class="govuk-list list-tags">
      <li class="govuk-!-font-weight-bold">Needs:</li>
      {% for need in data['goal1-needs'] %}
        <li class="tag">{{ need | replace(" – <span class='risk'>Risk of serious harm</span>", "") }}</li>
      {% endfor %}
    </ul>
  </a>
</li>