{% if data['plan-status'] == 'draft' %}
  <dl class="govuk-summary-list govuk-!-margin-bottom-4">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Description
      </dt>
      <dd class="govuk-summary-list__value">
        {% if data['goal1-step1-intervention'] == 'Yes' %}
          Intervention: {{ data['goal1-step1-intervention-type'] }}
        {% else %}
          {{ data['goal1-step1-description'] }}
        {% endif %}
      </dd>
      
      <dd class="govuk-summary-list__actions">
        <a href="add-step">
          Change
          <span class="govuk-visually-hidden"> description</span>
        </a>
      </dd>    
    </div>


{% else %}
<dl class="govuk-summary-list govuk-!-margin-bottom-3">
{% endif %}


  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Due date
    </dt>
    <dd class="govuk-summary-list__value">
      {% set goal1step1DueDate = data['goal1-step1-date-year'] + "-" + data['goal1-step1-date-month'] %}

      {{ goal1step1DueDate | date("MMMM YYYY") }}
    </dd>
    {% if data['plan-status'] == 'draft' %}
    <dd class="govuk-summary-list__actions">
      <a href="add-step">
        Change
        <span class="govuk-visually-hidden"> date</span>
      </a>
    </dd>
    {% endif %}
  </div>


  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Motivation
    </dt>
    <dd class="govuk-summary-list__value">
      {{ data['goal1-step1-motivation'] }}
    </dd>
    {% if data['plan-status'] == 'draft' %}
    <dd class="govuk-summary-list__actions">
      <a href="add-step">
        Change
        <span class="govuk-visually-hidden"> motivation</span>
      </a>
    </dd>
    {% endif %}
  </div>
  
  
  {# <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Positive factors
    </dt>
    <dd class="govuk-summary-list__value">
      {{ data['goal1-step1-strength'] if data['goal1-step1-strength'] else 'No' }}
    </dd>
    <dd class="govuk-summary-list__actions">
      <a href="add-step">
        Change
        <span class="govuk-visually-hidden"> strength</span>
      </a>
    </dd>
  </div> #}


  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Responsible
    </dt>
    <dd class="govuk-summary-list__value">
      {% if data['goal1-step1-responsible'].length > 1 %}
      <ul class="govuk-list govuk-list--bullet">
        {% for person in data['goal1-step1-responsible'] %}
          <li>{{ person }}{{ ': '+data['goal1-step1-responsible-other'] if person == 'Other' else '' }}</li>
        {% endfor %}
      </ul>
      {% else %}
        {% for person in data['goal1-step1-responsible'] %}
          {{ person }}{{ ': '+data['goal1-step1-responsible-other'] if person == 'Other' else '' }}
        {% else %}
          Nobody selected
        {% endfor %}
      {% endif %}
    </dd>
    {% if data['plan-status'] == 'draft' %}
    <dd class="govuk-summary-list__actions">
      <a href="add-step">
        Change
        <span class="govuk-visually-hidden"> responsible persons</span>
      </a>
    </dd>
  </div>



  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Status
    </dt>
    <dd class="govuk-summary-list__value">
      {{ data['goal1-step1-status'] }}
    </dd>
    {% if data['plan-status'] == 'draft' %}
    <dd class="govuk-summary-list__actions">
      <a href="add-step2">
        Change
        <span class="govuk-visually-hidden"> status</span>
      </a>
    </dd>
    {% endif %}
  </div>


  {% endif %}
</dl>