{% if data['plan-status'] == 'draft' %}
  <dl class="govuk-summary-list govuk-!-margin-bottom-4">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Description
      </dt>
      <dd class="govuk-summary-list__value">
        {% if data['goal1-step2-intervention'] == 'Yes' %}
          Intervention: {{ data['goal1-step2-intervention-type'] }}
        {% else %}
          {{ data['goal1-step2-description'] }}
        {% endif %}
      </dd>
    </div>


{% else %}
<dl class="govuk-summary-list govuk-!-margin-bottom-3">
{% endif %}
  


  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Due date
    </dt>
    <dd class="govuk-summary-list__value">
      {% set goal1step2DueDate = data['goal1-step2-date-year'] + "-" + data['goal1-step2-date-month'] %}

      {{ goal1step2DueDate | date("MMMM YYYY") }}
    </dd>
  </div>



  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Motivation
    </dt>
    <dd class="govuk-summary-list__value">
      {{ data['goal1-step2-motivation'] }}
    </dd>
  </div>


  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Responsible
    </dt>
    <dd class="govuk-summary-list__value">
      {% if data['goal1-step2-responsible'].length > 1 %}
      <ul class="govuk-list govuk-list--bullet">
        {% for person in data['goal1-step2-responsible'] %}
          <li>{{ person }}{{ ': '+data['goal1-step2-responsible-other'] if person == 'Other' else '' }}</li>
        {% endfor %}
      </ul>
      {% else %}
        {% for person in data['goal1-step2-responsible'] %}
          {{ person }}{{ ': '+data['goal1-step2-responsible-other'] if person == 'Other' else '' }}
        {% else %}
          Nobody selected
        {% endfor %}
      {% endif %}
    </dd>
  </div>


  {% if data['plan-status'] == 'draft' %}
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Status
    </dt>
    <dd class="govuk-summary-list__value">
      {{ data['goal1-step2-status'] }}
    </dd>
  </div>
  {% endif %}
</dl>