<li {{ 'class=closed' if data['goal1-closed'] == 'true' }}>
  {% if data['plan-status'] == 'saved' %}
    <a href="/offender/goal?goal=goal1" class="task {{ 'task--complete' if data['goal1-closed'] == 'true' }}">
  {% else %}
    <a href="add-goal/check-your-answers" class="task">
  {% endif %}
    <span class="task__heading">
      {{ data['goal1-description'] | safe }}
    </span>
    {% if data['plan-status'] == 'draft' %}
      <p class="govuk-body-s govuk-!-margin-top-1 govuk-!-margin-bottom-0">
        {{ "2 actions" if data['goal1-step2-added'] else "1 action" }}
      </p>
    {% else %}
      <p class="govuk-body-s govuk-!-margin-top-1 govuk-!-margin-bottom-0">0 of {{ "2" if data['goal1-step2-added'] else "1" }} actions completed</p>
    {% endif %}
  </a>
</li>