<dl class="govuk-summary-list govuk-!-margin-bottom-9">

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Description
    </dt>
    <dd class="govuk-summary-list__value">
      {% if data['step-intervention'] == 'Yes' %}
        Intervention: {{ data['intervention-type'] }}
      {% else %}
        {{ data['step-description'] }}
      {% endif %}
    </dd>
    <dd class="govuk-summary-list__actions">
      <a href="add-step">
        Change
        <span class="govuk-visually-hidden"> description</span>
      </a>
    </dd>
  </div>
  


  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Due date
    </dt>
    <dd class="govuk-summary-list__value">
      {% set dueDate1 = data['step-date-year'] + "-" + data['step-date-month'] + "-" + data['step-date-day'] %}

      {{ dueDate1 | date("D MMMM YYYY") }}
    </dd>
    <dd class="govuk-summary-list__actions">
      <a href="add-step">
        Change
        <span class="govuk-visually-hidden"> date</span>
      </a>
    </dd>
  </div>
  
  
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Positive factors
    </dt>
    <dd class="govuk-summary-list__value">
      {{ data['strength'] if data['strength'] else 'No' }}
    </dd>
    <dd class="govuk-summary-list__actions">
      <a href="add-step">
        Change
        <span class="govuk-visually-hidden"> strength</span>
      </a>
    </dd>
  </div>


  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Responsible
    </dt>
    <dd class="govuk-summary-list__value">
      {% if data['step-done'].length > 1 %}
      <ul class="govuk-list govuk-list--bullet">
        {% for person in data['step-done'] %}
          <li>{{ person }}{{ ': '+data['step-done-other'] if person == 'Other' else '' }}</li>
        {% endfor %}
      </ul>
      {% else %}
        {% for person in data['step-done'] %}
          {{ person }}{{ ': '+data['step-done-other'] if person == 'Other' else '' }}
        {% else %}
          Nobody selected
        {% endfor %}
      {% endif %}
    </dd>
    <dd class="govuk-summary-list__actions">
      <a href="add-step">
        Change
        <span class="govuk-visually-hidden"> responsible persons</span>
      </a>
    </dd>
  </div>
</dl>