<dl class="govuk-summary-list govuk-!-margin-bottom-9">

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Description
    </dt>
    <dd class="govuk-summary-list__value">
      {% if data['step-intervention-2'] == 'Yes' %}
        Intervention: {{ data['intervention-type-2'] }}
      {% else %}
        {{ data['step-description-2'] }}
      {% endif %}
    </dd>
    <dd class="govuk-summary-list__actions">
      <a href="add-step2">
        Change
        <span class="govuk-visually-hidden"> description</span>
      </a>
    </dd>
  </div>
  


  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Due date
    </dt>
    <dd class="govuk-summary-list__value">
      {% set dueDate2 = data['step-date-2-year'] + "-" + data['step-date-2-month'] + "-" + data['step-date-2-day'] %}

      {{ dueDate2 | date("D MMMM YYYY") }}
    </dd>
    <dd class="govuk-summary-list__actions">
      <a href="add-step2">
        Change
        <span class="govuk-visually-hidden"> date</span>
      </a>
    </dd>
  </div>
  
  
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Positive factors
    </dt>
    <dd class="govuk-summary-list__value">
      {{ data['strength-2'] if data['strength-2'] else 'No' }}
    </dd>
    <dd class="govuk-summary-list__actions">
      <a href="add-step2">
        Change
        <span class="govuk-visually-hidden"> strength</span>
      </a>
    </dd>
  </div>


  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Responsible
    </dt>
    <dd class="govuk-summary-list__value">
      {% if data['step-done-2'].length > 1 %}
      <ul class="govuk-list govuk-list--bullet">
        {% for person in data['step-done-2'] %}
          <li>{{ person }}{{ ': '+data['step-done-other-2'] if person == 'Other' else '' }}</li>
        {% endfor %}
      </ul>
      {% else %}
        {% for person in data['step-done-2'] %}
          {{ person }}{{ ': '+data['step-done-other-2'] if person == 'Other' else '' }}
        {% else %}
          Nobody selected
        {% endfor %}
      {% endif %}
    </dd>
    <dd class="govuk-summary-list__actions">
      <a href="add-step2">
        Change
        <span class="govuk-visually-hidden"> responsible persons</span>
      </a>
    </dd>
  </div>
</dl>