<dl class="govuk-summary-list govuk-!-margin-bottom-9">

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Needs
    </dt>
    <dd class="govuk-summary-list__value">
      {% if data['step-needs-2'].length > 1 %}
      <ul class="govuk-list govuk-list--bullet">
        {% for need in data['step-needs'] %}
          <li>{{ need }}</li>
        {% endfor %}
      </ul>
      {% else %}
        {% for need in data['step-needs-2'] %}
          {{ need }}
        {% else %}
          No needs selected
        {% endfor %}
      {% endif %}
    </dd>
    <dd class="govuk-summary-list__actions">
      <a href="needs-2">
        Change
        <span class="govuk-visually-hidden"> needs</span>
      </a>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Is intervention
    </dt>
    <dd class="govuk-summary-list__value">
      {{ data['step-intervention-2'] }}
    </dd>
    <dd class="govuk-summary-list__actions">
      <a href="intervention-2">
        Change
        <span class="govuk-visually-hidden"> intervention</span>
      </a>
    </dd>
  </div>





  {% if data['step-intervention-2'] == 'Yes' %}
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Intervention
    </dt>
    <dd class="govuk-summary-list__value">
      {{ data['intervention-type-2'] }}
    </dd>
    <dd class="govuk-summary-list__actions">
      <a href="step-details-2">
        Change
        <span class="govuk-visually-hidden"> intervention</span>
      </a>
    </dd>
  </div>
  {% else %}
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Description
    </dt>
    <dd class="govuk-summary-list__value">
      {{ data['step-description-2'] }}
    </dd>
    <dd class="govuk-summary-list__actions">
      <a href="step-details-2">
        Change
        <span class="govuk-visually-hidden"> description</span>
      </a>
    </dd>
  </div>
  {% endif %}

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Due date
    </dt>
    <dd class="govuk-summary-list__value">
      {% set dueDate2 = data['step-date-2-year'] + "-" + data['step-date-2-month'] + "-" + data['step-date-2-day'] %}

      {{ dueDate2 | date("D MMMM YYYY") }}
    </dd>
    <dd class="govuk-summary-list__actions">
      <a href="step-details-2">
        Change
        <span class="govuk-visually-hidden"> date</span>
      </a>
    </dd>
  </div>
  
  
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Strength
    </dt>
    <dd class="govuk-summary-list__value">
      {{ data['strength-2'] if data['strength-2'] else 'No' }}
    </dd>
    <dd class="govuk-summary-list__actions">
      <a href="step-details-2">
        Change
        <span class="govuk-visually-hidden"> strength</span>
      </a>
    </dd>
  </div>


  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Responsible
    </dt>
    <dd class="govuk-summary-list__value">
      {% if data['step-done-2'].length > 1 %}
      <ul class="govuk-list govuk-list--bullet">
        {% for person in data['step-done-2'] %}
          <li>{{ person }}</li>
        {% endfor %}
      </ul>
      {% else %}
        {% for person in data['step-done-2'] %}
          {{ person }}
        {% else %}
          Nobody selected
        {% endfor %}
      {% endif %}
    </dd>
    <dd class="govuk-summary-list__actions">
      <a href="step-details-2">
        Change
        <span class="govuk-visually-hidden"> responsible persons</span>
      </a>
    </dd>
  </div>
</dl>