<h3 class="govuk-heading-m">
  Goals
</h3>

{# <table class="govuk-table">
  <caption class="govuk-table__caption">Active goals</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Goal</th>
      <th scope="col" class="govuk-table__header govuk-table__header--numeric">Steps completed</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    {% if data['goal1-added'] %}
      {% if data['goals-reordered'] == 'true' %}
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            <a class="govuk-link--no-visited-state" href="/offender/goal?goal=goal2">
              {{ data['goal2-description'] | safe }}
            </a>
          </th>
          <td class="govuk-table__cell govuk-table__cell--numeric">
            0 of {{ "2" if data['goal2-step2-added'] else "1" }}
          </td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            <a class="govuk-link--no-visited-state" href="/offender/goal?goal=goal1">
              {{ data['goal1-description'] | safe }}
            </a>
          </th>
          <td class="govuk-table__cell govuk-table__cell--numeric">
            0 of {{ "2" if data['goal1-step2-added'] else "1" }}
          </td>
        </tr>
      {% else %} 
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            <a class="govuk-link--no-visited-state" href="/offender/goal?goal=goal1">
              {{ data['goal1-description'] | safe }}
            </a>
          </th>
          <td class="govuk-table__cell govuk-table__cell--numeric">
            0 of {{ "2" if data['goal1-step2-added'] else "1" }}
          </td>
        </tr>
        
        {% if data['goal2-added'] %}
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">
              <a class="govuk-link--no-visited-state" href="/offender/goal?goal=goal2">
                {{ data['goal2-description'] | safe }}
              </a>
            </th>
            <td class="govuk-table__cell govuk-table__cell--numeric">
              0 of {{ "2" if data['goal2-step2-added'] else "1" }}
            </td>
          </tr>
        {% endif %}
      {% endif %}
    {% endif %}
  </tbody>
</table>
{{ govukButton ({
  text: 'Add another goal',
  href: '#0',
  classes: 'govuk-button--secondary govuk-!-margin-bottom-9'
}) }}
{% if data['goal2-added'] %}
  {{ govukButton ({
    text: 'Reorder goals',
    href: '#0',
    classes: 'govuk-button--secondary govuk-!-margin-bottom-3'
  }) }}
{% endif %} #}





<h4 class="govuk-heading-s govuk-!-margin-bottom-1">
  Active goals
</h4>
<ul class="govuk-list">
  {% if data['unpaidwork'] %}
    {% include "includes/unpaidwork-card.html" %}
  {% endif %}
  {% if data['goal1-added'] %}
    {% if data['goals-reordered'] == 'true' %}
      {% include "includes/goal2-card.html" %}
      {% include "includes/goal1-card.html" %}
    {% else %} 
      {% include "includes/goal1-card.html" %}
      
      {% if data['goal2-added'] %}
        {% include "includes/goal2-card.html" %}
      {% endif %}
    {% endif %}
  {% endif %}
  {% if data['goal3-added'] %}
    {% include "includes/goal3-card.html" %}
  {% endif %}
</ul>
{{ govukButton ({
  text: 'Add another goal',
  href: '/offender/add-goal/goal',
  classes: 'govuk-button--secondary'
}) }}
{% if data['goal2-added'] %}
  {{ govukButton ({
    text: 'Reorder goals',
    href: '#0',
    classes: 'govuk-button--secondary'
  }) }}
{% endif %}




{% if data['goal3-started'] == 'true' %}
  <h4 class="govuk-heading-s  govuk-!-margin-top-6" style="margin-top: -20px;">
    Draft goals
  </h4>
  <ul class="govuk-list">
    {% include "includes/goal3-card.html" %}
  </ul>
{% endif %}




{% if data['goal1-closed'] == 'true' or data['goal2-closed'] == 'true' %}
  <h4 class="govuk-heading-s  govuk-!-margin-top-6" style="margin-top: -20px;">
    Closed goals
  </h4>
  <ul class="closed-goals govuk-list">
  </ul>
{% endif %}