{% extends "layout.html" %}

{% block afterHeader %}
  {% include "includes/key-details.html" %}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink ({
    text: 'Back',
    href: '/offender'
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="about-them" method="post">

        {{ govukTextarea ({
          id: 'diversity',
          name: 'diversity',
          value: data['diversity'] if data['diversity'] else '',
          label: {
            html: 'How we will be responsive to needs',
            classes: "govuk-label--l",
            isPageHeading: true
          },
          hint: {
            text: "Record how you will take account of diversity needs when creating the plan. For example: ethnicity, race, sexual orientation, gender, age or religion."
          }
        }) }}

        {{ govukButton ({
          html: 'Continue',
          classes: 'govuk-!-margin-bottom-3'
        }) }}
        <p>or <a href="cancel-plan">cancel</a></p>

      </form>

    </div>
  </div>
{% endblock %}
