{% extends "layout.html" %}

{% block afterHeader %}
  {% include "includes/key-details.html" %}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink ({
    text: 'Back to plan',
    href: '/offender'
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      
      {% if stepUpdated %}
        {{ mojBanner({
          type: 'success',
          text: stepUpdated,
          iconFallbackText: 'Success'
        }) }} 
      {% endif %}



      <div class="moj-page-header-actions">
        <div class="moj-page-header-actions__title">
          <h1 class="govuk-heading-l">
            Goal overview
          </h1>
        </div>

        <div class="moj-page-header-actions__actions">
          <div class="moj-button-menu">
            <div class="moj-button-menu__wrapper">

              {{ govukButton ({
                text: 'Add a step',
                href: '#0',
                classes: 'govuk-button--secondary moj-button-menu__item moj-page-header-actions__action'
              }) }}

              {% if data['goal1-step2-added'] %}
                {{ govukButton ({
                  text: 'Reorder steps',
                  href: '#0',
                  classes: 'govuk-button--secondary moj-button-menu__item moj-page-header-actions__action'
                }) }}
              {% endif %}

              {{ govukButton ({
                text: 'Update progress',
                href: 'update',
                classes: 'moj-button-menu__item moj-page-header-actions__action'
              }) }}

            </div>
          </div>
        </div>
      </div> 
    </div>





    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h2 class="govuk-heading-m">Summary</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Goal
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['goal1-description'] | nl2br | safe }}
          </dd>
        </div>
        {# <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Related needs
          </dt>
          <dd class="govuk-summary-list__value">
            <ul class="govuk-list govuk-list--bullet">
              {% for need in data['goal1-needs'] %}
                <li>
                  {{ need | replace(" – <span class='risk'>Risk of serious harm</span>", "") }}
                </li>
              {% endfor %}
            </ul>
          </dd>
        </div> #}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Needs and motivations
          </dt>
          <dd class="govuk-summary-list__value">
            <ul class="govuk-list govuk-list--bullet">
              {% for need in data['goal1-needs'] %}
                <li>
                  {{ need | replace(" – <span class='risk'>Risk of serious harm</span>", "") }}: 
                  {{ data["goal1-motivation"+loop.index] }}
                </li>
              {% endfor %}
            </ul>
          </dd>
        </div>
      </dl>




      {% if data['goal1-reordered'] == 'true' %}
        <h2 class="govuk-heading-m">Step 1</h2>
        {% include "includes/goal1-step2-summary.html" %}
        <h2 class="govuk-heading-m">Step 2</h2>
        {% include "includes/goal1-step1-summary.html" %}
      {% else %} 
        <h2 class="govuk-heading-m">Step 1</h2>
        {% include "includes/goal1-step1-summary.html" %}
        {% if data['goal1-step2-added'] == 'true' %}
        <h2 class="govuk-heading-m">Step 2</h2>
        {% include "includes/goal1-step2-summary.html" %}
        {% endif %}
      {% endif %}

    {# </div>




    
    <div class="govuk-grid-column-one-third"> #}
      <h2 class="govuk-heading-m">
        History
      </h2>
      <div class="moj-timeline">
        {% if data['status-updated'] %}
        <div class="moj-timeline__item">
          <div class="moj-timeline__header">
            <h2 class="moj-timeline__title">{{ data['status'] }}</h2>
            <p class="moj-timeline__byline">by Sarah Smith</p>
          </div>

          <p class="moj-timeline__date">
            <time>{{ moment | date("D MMMM YYYY") }} at {{ moment | date("h:mm a") }}</time>
          </p>

          <div class="moj-timeline__description">
            <p>{{ data['status-comment'] }}</p>
          </div>
        </div>
        {% endif %}


        <div class="moj-timeline__item">
          <div class="moj-timeline__header">
            <h2 class="moj-timeline__title">Plan created</h2>
            <p class="moj-timeline__byline">by Sarah Smith</p>
          </div>

          <p class="moj-timeline__date">
            <time>{{ moment | date("D MMMM YYYY") }} at {{ moment | date("subtract", 4, "minutes") | date("h:mm a") }}</time>
          </p>
        </div>

      </div> {# timeline #}

    </div>
  </div>
{% endblock %}
