// global styles for <a> and <p> tags
$govuk-global-styles: true;

// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: '/govuk/assets/';

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "lib/extensions/extensions";

// Patterns that aren't in Frontend
@import "patterns/step-by-step-navigation";
@import "patterns/task-list";
@import "patterns/related-items";
@import "patterns/changelog";

// Components that aren't in Frontend
@import "components/autocomplete";
@import "components/cookie-banner";
@import "components/case-header";
@import "components/key-details";
@import "components/sortable-table";
@import "components/task-cards";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

// .govuk-template__body {
//   background-color: #f5f5f5;
// }

.govuk-back-link {
  margin-bottom: 0;
}

.section-break-large {
  margin-top: 60px;
  margin-bottom: 20px;
  border: 4px solid $govuk-brand-colour;
}

.risk {
  color: $govuk-error-colour;
  font-weight: bold;
}

.delete-link {
  color: $govuk-error-colour!important;
}




.app-task-list__items {
  padding-left: 0;
}




.moj-page-header-actions__title {
  max-width: 750px;
}

// Change vertical alignment so it works with header captions
.moj-page-header-actions__actions {
  vertical-align: bottom;
}




// Add a blob at the bottom of the MOJ timeline
.moj-timeline {
  overflow: visible;

  &::before {
    width: 4px;
  }

  &::after {
    content: "";
    display: block;
    width: calc(2 * 5px);
    height: calc(2 * 5px);
    border-radius: 50%;
    background-color: #1d70b8;
    border: 8px solid #1d70b8;
    position: absolute;
    left: -11px;
    bottom: -10px;
  }
}


.filters {
  
  .govuk-label {
    display: inline;
    vertical-align: middle;
  }

  .govuk-form-group {
    height: 44px;
    margin: 0;
    display: inline-block;
    vertical-align: bottom;
  }

  .govuk-select {
    padding: 0 5px;
    height: 37px;
  }
}