.govuk-skip-link, .govuk-back-link { display: none; }

@page { size: auto;  margin: 0mm; }

.govuk-main-wrapper  { margin: 1.2cm }

.govuk-body { line-height: 1.5; }

.page-break { page-break-before: always; }

.govuk-table *, .govuk-summary-list *, p {
  font-size: 12px;
}