{% extends "layout_unbranded.html" %}

{% block beforeContent %}
  <a href="/offender" class="govuk-back-link">Back to plan</a>
{% endblock %}

{% block content %}
<style>
  .govuk-width-container {
    max-width: 700px;
  }
  .govuk-section-break--l {
    margin-top: 10px
  }

  .govuk-table, .govuk-summary-list {
    font-size: 16px;
  }
</style>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    {% include "includes/moj-svg.html" %}
    <p class="govuk-heading-m" style="display: inline-block; vertical-align: middle; margin: 0;">HMPPS</p>

  




    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
  
  
    
    <span class="govuk-caption-m govuk-!-margin-top-5">Sentence plan</span>
    <h1 class="govuk-heading-m govuk-!-margin-bottom-0">
      {{ offender.firstname }} {{ offender.lastname }}
    </h1>

    <h2 class="govuk-heading-s / govuk-!-margin-top-6 govuk-!-margin-bottom-2">
      Summary
    </h2>
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          {{ offender.firstname }}&rsquo;s summary
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['offender-summary'] | nl2br | safe }}
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Goal
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['goal'] | nl2br | safe }}
        </dd>
      </div>
      {# <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Motivations
        </dt>
        <dd class="govuk-summary-list__value">
          <ul class="govuk-list govuk-list--bullet">
            {% for need in offender.needs %}
              <li>
                {{ need.type }}: 
                {{ data["motivation-"+loop.index] }}
              </li>
            {% endfor %}
          </ul>
        </dd>
      </div> #}
      {% if data['comment-added'] == "true" %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Comment from {{ moment | date("D MMMM YYYY") }}
        </dt>
        <dd class="govuk-summary-list__value">
          {% if data['offender-comment'] %}
          <p>{{ offender.firstname }}&rsquo;s words: {{ data['offender-comment'] }}</p>
          {% endif %}

          {% if data['practitioner-comment'] %}
          <p>Practitioner&rsquo;s words: {{ data['practitioner-comment'] }}</p>
          {% endif %}
          <p>
        </dd>
      </div>
      {% endif %}
    </dl>

    

    <h2 class="govuk-heading-s / govuk-!-margin-top-4 govuk-!-margin-bottom-2">
      Working on 2 steps
    </h2>
    {% from "govuk/components/table/macro.njk" import govukTable %}
    {{ govukTable({
      firstCellIsHeader: true,
      rows: [
        [
          {
            text: data['intervention-type'] if data['step-intervention'] == 'Yes' else data['step-description']
          },
          {
            text: data['status'],
            format: "numeric"
          }
        ],
        [
          {
            text: data['intervention-type-2'] if data['step-intervention-2'] == 'Yes' else data['step-description-2']
          },
          {
            text: data['status-2'],
            format: "numeric"
          }
        ]
      ]
    }) }}
    




    <h2 class="govuk-heading-s / govuk-!-margin-top-4 govuk-!-margin-bottom-2">
      Finished 1 step
    </h2>
    {{ govukTable({
      firstCellIsHeader: true,
      rows: [
        [
          {
            text: "Attend alcohol awareness course."
          },
          {
            text: "Complete",
            format: "numeric"
          }
        ]
      ]
    }) }}


  </div>

</div>

<script>
  window.print();
</script>
{% endblock %}
