{% extends "layout_unbranded.html" %}

{% block beforeContent %}
  <a href="/offender" class="govuk-back-link">Back to plan</a>
{% endblock %}

{% block content %}
<style>
  .govuk-width-container {
    max-width: 700px;
  }
  .govuk-section-break--l {
    margin-top: 10px
  }

  .govuk-table {
    font-size: 16px;
    }
</style>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    {% include "includes/moj-svg.html" %}
    <p class="govuk-heading-m" style="display: inline-block; vertical-align: middle; margin: 0;">HMPPS</p>

  
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
  
  
    
    <span class="govuk-caption-m govuk-!-margin-top-5">My progress</span>
    <h1 class="govuk-heading-m govuk-!-margin-bottom-0">
      {{ offender.firstname }} {{ offender.lastname }}
    </h1>

    

    <h2 class="govuk-heading-s / govuk-!-margin-top-9 govuk-!-margin-bottom-2">
      I&rsquo;m working on 2 steps
    </h2>
    {% from "govuk/components/table/macro.njk" import govukTable %}

    {{ govukTable({
      firstCellIsHeader: true,
      rows: [
        [
          {
            text: data['intervention-type'] if data['step-intervention'] == 'Yes' else data['step-description']
          },
          {
            text: data['status'],
            format: "numeric"
          }
        ],
        [
          {
            text: data['intervention-type-2'] if data['step-intervention-2'] == 'Yes' else data['step-description-2']
          },
          {
            text: data['status-2'],
            format: "numeric"
          }
        ]
      ]
    }) }}
    




    <h2 class="govuk-heading-s / govuk-!-margin-top-9 govuk-!-margin-bottom-2">
      I&rsquo;ve finished 1 step
    </h2>
    {% from "govuk/components/table/macro.njk" import govukTable %}

    {{ govukTable({
      firstCellIsHeader: true,
      rows: [
        [
          {
            text: "Attend alcohol awareness course."
          },
          {
            text: "Complete",
            format: "numeric"
          }
        ]
      ]
    }) }}


  </div>

</div>

<script>
  window.print();
</script>
{% endblock %}
