{% extends "layout.html" %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

<!-- Adds spacing for pages without a back button -->
{% set mainClasses = "govuk-main-wrapper--l" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l govuk-!-margin-bottom-3">Create a mock plan</h1>
      <p class="govuk-body-l govuk-!-margin-bottom-9">This lets you placeholder plan content for testing.</p>

      <form class="form" action="/offender" method="post">

        {{ govukTextarea ({
          id: 'diversity',
          name: 'diversity',
          value: 'Diversity content would go here.',
          label: {
            html: 'Diversity needs',
            classes: "govuk-label--m"
          }
        }) }}

        {{ govukTextarea ({
          id: 'offender-summary',
          name: 'offender-summary',
          value: 'Offender summary would go here.',
          label: {
            html: 'Offender wants you to know',
            classes: "govuk-label--s"
          }
        }) }}









        <h2 class="govuk-heading-m">
          Goal 1
        </h2>

        {{ govukTextarea ({
          id: 'goal1-description',
          name: 'goal1-description',
          value: 'Description of the goal.',
          label: {
            html: 'Goal description',
            classes: "govuk-label--m"
          }
        }) }}

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h1 class="govuk-fieldset__heading">
                Needs related to the goal
              </h1>
            </legend>

            <div class="govuk-checkboxes govuk-checkboxes--small">
              {% for need in offender.needs %}
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="goal1-needs{{ loop.index }}" name="goal1-needs" type="checkbox" value="{{ need.type }}{% if need.risk %} &ndash; <span class='risk'>Risk of serious harm</span>{% endif %}" {{ checked( "goal1-needs", need.type ) }}>
                  <label class="govuk-label govuk-checkboxes__label" for="goal1-needs{{ loop.index }}">
                    {{ need.type }}
                    {% if need.risk %}
                      &ndash; <span class="risk">Risk of serious harm</span>
                    {% endif %}
                  </label>
                </div>
              {% endfor %}
            </div>

          </fieldset>
        </div>






        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              Needs are related to the step
            </legend>
            <span class="govuk-hint">
               Select all that apply. 
            </span>

            <div class="govuk-checkboxes govuk-checkboxes--small">
              {% for need in offender.needs %}
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="step-needs-{{ loop.index }}" name="step-needs" type="checkbox" value="{{ need.type }}" checked>
                  <label class="govuk-label govuk-checkboxes__label" for="step-needs-{{ loop.index }}">
                    {{ need.type }}
                    {% if need.risk %}
                      {# <strong class="govuk-tag moj-tag--red">Risk of serious harm</strong> #}
                      &ndash; <span class="risk">Risk of serious harm</span>
                    {% endif %}
                  </label>
                </div>
              {% endfor %}
            </div>

          </fieldset>
        </div>

        {% set interventionYes %}
        {{ govukInput ({
          id: 'intervention-type',
          name: 'intervention-type',
          value: 'Alcohol Related Violence (ARV)',
          classes: 'govuk-input--width-20',
          label: {
            text: 'Intervention'
          }
        }) }}
        {% endset -%}

        {% set interventionNo %}
        {{ govukTextarea ({
          id: 'step-description',
          name: 'step-description',
          value: 'Start thinking about their relationships by creating a life map, so they can start to make sense of their childhood.',
          label: {
            text: 'Step description'
          }
        }) }}
        {% endset -%}

        {{ govukRadios ({
          classes: "govuk-radios--small",
          idPrefix: 'step-intervention',
          name: 'step-intervention',
          fieldset: {
            legend: {
              text: 'Intervention?',
              classes: 'govuk-fieldset__legend--s'
            }
          },
          items: [
            {
              text: 'Yes',
              value: 'Yes',
              conditional: {
                html: interventionYes
              }
            },
            {
              text: 'No',
              value: 'No',
              checked: true,
              conditional: {
                html: interventionNo
              }
            }
          ]
        }) }}


        {% set strengthHMTL %}
          {{ govukTextarea ({
            id: 'strength',
            name: 'strength',
            rows: "3",
            label: {
              text: 'Strength'
            }
          }) }}
        {% endset -%}

        {{ govukRadios ({
          classes: "govuk-radios--small",
          idPrefix: 'step-strength',
          name: 'step-strength',
          fieldset: {
            legend: {
              text: 'Strength',
              classes: 'govuk-fieldset__legend--s'
            }
          },
          items: [
            {
              text: 'Yes',
              value: 'yes',
              conditional: {
                html: strengthHMTL
              }
            },
            {
              text: 'No',
              value: 'no',
              checked: true
            }
          ]
        }) }}


        {% set doneHMTL %}
          {{ govukInput ({
            id: 'step-done-other',
            name: 'step-done-other',
            value: data['step-done-other'] if data['step-done-other'] else '',
            classes: 'govuk-input--width-20',
            label: {
              text: 'Other',
              classes: 'govuk-input--width-20'
            }
          }) }}
        {% endset -%}

        {{ govukCheckboxes ({
          classes: "govuk-checkboxes--small",
          idPrefix: 'step-done',
          name: 'step-done',
          fieldset: {
            legend: {
              text: 'Responsible',
              classes: 'govuk-fieldset__legend--s'
            }
          },
          items: [
            {
              text: 'Individual',
              value: 'Individual',
              checked: true
            },
            {
              text: 'Responsible officer',
              value: 'Responsible officer'
            },
            {
              text: 'Other',
              value: 'Other',
              conditional: {
                html: doneHMTL
              }
            }
          ]
        }) }}






        <h2 class="govuk-heading-m">
          Step 2
        </h2>
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              Needs are related to the step
            </legend>
            <span class="govuk-hint">
               Select all that apply. 
            </span>

            <div class="govuk-checkboxes govuk-checkboxes--small">
              {% for need in offender.needs %}
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="step-needs-{{ loop.index }}" name="step-needs-2" type="checkbox" value="{{ need.type }}" checked>
                  <label class="govuk-label govuk-checkboxes__label" for="step-needs-{{ loop.index }}">
                    {{ need.type }}
                    {% if need.risk %}
                      {# <strong class="govuk-tag moj-tag--red">Risk of serious harm</strong> #}
                      &ndash; <span class="risk">Risk of serious harm</span>
                    {% endif %}
                  </label>
                </div>
              {% endfor %}
            </div>

          </fieldset>
        </div>


        {% set interventionYes2 %}
        {{ govukInput ({
          id: 'intervention-type-2',
          name: 'intervention-type-2',
          value: 'Alcohol Related Violence (ARV)',
          classes: 'govuk-input--width-20',
          label: {
            text: 'Intervention'
          }
        }) }}
        {% endset -%}

        {% set interventionNo2 %}
        {{ govukTextarea ({
          id: 'step-description-2',
          name: 'step-description-2',
          value: 'Start thinking about their relationships by creating a life map, so they can start to make sense of their childhood.',
          label: {
            text: 'Step description'
          }
        }) }}
        {% endset -%}

        {{ govukRadios ({
          classes: "govuk-radios--small",
          idPrefix: 'step-intervention-2',
          name: 'step-intervention-2',
          fieldset: {
            legend: {
              text: 'Intervention?',
              classes: 'govuk-fieldset__legend--s'
            }
          },
          items: [
            {
              text: 'Yes',
              value: 'Yes',
              checked: true,
              conditional: {
                html: interventionYes2
              }
            },
            {
              text: 'No',
              value: 'No',
              conditional: {
                html: interventionNo2
              }
            }
          ]
        }) }}

        {% set strengthHMTL2 %}
          {{ govukTextarea ({
            id: 'strength-2',
            name: 'strength-2',
            rows: "3",
            label: {
              text: 'Strength'
            }
          }) }}
        {% endset -%}

        {{ govukRadios ({
          classes: "govuk-radios--small",
          idPrefix: 'step-strength-2',
          name: 'step-strength-2',
          fieldset: {
            legend: {
              text: 'Strength',
              classes: 'govuk-fieldset__legend--s'
            }
          },
          items: [
            {
              text: 'Yes',
              value: 'yes',
              conditional: {
                html: strengthHMTL2
              }
            },
            {
              text: 'No',
              value: 'no',
              checked: true
            }
          ]
        }) }}




        {% set doneHMTL2 %}
          {{ govukInput ({
            id: 'step-done-other-2',
            name: 'step-done-other-2',
            value: data['step-done-other'] if data['step-done-other'] else '',
            classes: 'govuk-input--width-20',
            label: {
              text: 'Other',
              classes: 'govuk-input--width-20'
            }
          }) }}
        {% endset -%}

        {{ govukCheckboxes ({
          classes: "govuk-checkboxes--small",
          idPrefix: 'step-done-2',
          name: 'step-done-2',
          fieldset: {
            legend: {
              text: 'Responsible',
              classes: 'govuk-fieldset__legend--s'
            }
          },
          items: [
            {
              text: 'Individual',
              value: 'Individual',
              checked: true
            },
            {
              text: 'Responsible officer',
              value: 'Responsible officer',
              checked: true
            },
            {
              text: 'Other',
              value: 'Other',
              conditional: {
                html: doneHMTL2
              }
            }
          ]
        }) }}





        <input type="hidden" name="step-2-added" value="true">
        <input type="hidden" name="answers-checked" value="true">
        <input type="hidden" name="status" value="In progress">
        <input type="hidden" name="status-2" value="In progress">

        {{ govukButton ({
          html: 'Continue',
          classes: 'govuk-!-margin-bottom-3'
        }) }}
        <p>or <a class="delete-link" href="/">cancel</a></p>

      </form>

    </div>
  </div>
{% endblock %}
