{% extends "layout.html" %}

{% block afterHeader %}
  {% include "includes/key-details.html" %}
{% endblock %}

{% set goal = data['goal'] %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/offender/goal" method="post">

        <h1 class="govuk-heading-l">
          <span class="govuk-caption-l">Close goal</span>
          {{ data[goal+'-description'] | nl2br | safe }}
        </h1>

        {{ govukRadios ({
          idPrefix: 'outcome',
          name: goal+'-outcome',
          fieldset: {
            legend: {
              text: 'What was the outcome of the goal?',
              isPageHeading: false,
              classes: 'govuk-fieldset__legend--m'
            }
          },
          hint: {
            text: ''
          },
          items: [
            {
              text: 'Achieved',
              value: 'Achieved',
              checked: checked(goal+'-outcome', 'Achieved')
            },
            {
              text: 'Partly achieved',
              value: 'Partly achieved',
              checked: checked(goal+'-outcome', 'Partly achieved')
            },
            {
              text: 'Not achieved',
              value: 'Not achieved',
              checked: checked(goal+'-outcome', 'Not achieved')
            }
          ]
        }) }}




        {{ govukTextarea ({
            id: 'goal-comment',
            name: goal+'-comment',
            value: data[goal+'-comment'] if data[goal+'-comment'] else '',
            label: {
              html: 'Comment',
              isPageHeading: false,
              classes: "govuk-label--m"
            },
            hint: {
              text: ""
            }
          }) }}

          <input type="hidden" name="{{goal}}-closed" value="true">

          {{ govukButton ({
            html: 'Close the goal',
            classes: 'govuk-!-margin-bottom-3'
          }) }}
          <p>or <a href="goal?goal={{goal}}">cancel</a></p>


        </form>

    </div>
  </div>
{% endblock %}
