{% extends "layout.html" %}

{% block afterHeader %}
  {% include "includes/key-details.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    {# <div class="govuk-grid-column-full">

      <div class="case-header">
        <h1 class="govuk-heading-l govuk-!-margin-bottom-0">
          <span class="govuk-caption-l">Offender's name</span>
          {{ offender.name }}
        </h1>

        <dl class="case-header__details">
          <dt class="/govuk-visually-hidden">
            CRN number:
          </dt>
          <dd>
            {{ offender.crn }}
          </dd>

          <dt>
            NOMS number:
          </dt>
          <dd>
            {{ offender.noms }}
          </dd>
          
          <dt>
            Keyworker:
          </dt>
          <dd>
            {{ offender.keyworker }}
          </dd>
        </dl>
      </div>

    </div> #}





    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-visually-hidden">Offender details: {{ offender.name }}</h1>

      <h2 class="govuk-heading-m govuk-visually-hidden">
        Current plan
      </h2>
      <p>There is no active plan.</p>
      {{ govukButton ({
        text: 'Start a new plan',
        href: 'offender/create-plan/summary'
      }) }}


      <h2 class="govuk-heading-m">
        Previous plans
      </h2>

      <ul class="govuk-list">
        <li>
          <a class="govuk-link" href="#">Plan 1</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Plan 2</a>
        </li>
      </ul>





      {# <h2 class="govuk-heading-m">
        Summary
      </h2>

      <dl class="govuk-summary-list /govuk-summary-list--no-border">
        {% for item in offender.summary %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              {{ item.title }}
            </dt>
            <dd class="govuk-summary-list__value">
              {{ item.value }}
            </dd>
          </div>
        {% endfor %}
      </dl> #}

    </div>
  </div>
{% endblock %}
