{% extends "layout.html" %}

{% block afterHeader %}
  {% include "includes/key-details.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      {% if planSaved %}
        {{ mojBanner({
          type: 'success',
          text: planSaved,
          iconFallbackText: 'Success'
        }) }} 
      {% endif %}

      <h1 class="govuk-visually-hidden">
        Offender plans: {{ offender.name }}
      </h1>



        {# {% if not data['plan-status']%}

          <p>There is no active plan.</p>
          {{ govukButton ({
            text: 'Start a new plan',
            href: '/offender/create-plan/summary'
          }) }}



        {% elif data['plan-status'] == 'draft' %}


          <p>There is a draft plan from {{ data | date("D MMMM YYYY") }}.</p>
          {{ govukButton ({
            text: 'View draft',
            href: '/offender/create-plan/check-your-answers'
          }) }} #}




        {% if data['plan-status'] == 'saved' %}
          {% include "includes/active-plan.html" %}
        {% else %}
          {% include "includes/draft-plan.html" %}
        {% endif %}


      




      <hr class="govuk-section-break section-break-large">


      <h2 class="govuk-heading-m">
        Previous plans
      </h2>

      <ul class="govuk-list">
        {% if data['plan-closed'] %}
        <li>
          <a class="govuk-link" href="#">Plan closed {{ moment | date("D MMMM YYYY") }}</a>
        </li>
        {% endif %}
        <li>
          <a class="govuk-link" href="#">Plan closed {{ moment | date("subtract", 100, "days") | date("D MMMM YYYY") }}</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Plan closed {{ moment | date("subtract", 211, "days") | date("D MMMM YYYY") }}</a>
        </li>
      </ul>


    </div>
  </div>
{% endblock %}
