{% extends "layout.html" %}

{% block afterHeader %}
  {% include "includes/key-details.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    {# <div class="govuk-grid-column-full">

       <div class="case-header">
        <h1 class="govuk-heading-l govuk-!-margin-bottom-0">
          <span class="govuk-caption-l">Offender's name</span>
          {{ offender.firstname }} {{ offender.lastname }}
        </h1>

        <dl class="case-header__details">
          <dt class="/govuk-visually-hidden">
            CRN number:
          </dt>
          <dd>
            {{ offender.crn }}
          </dd>

          <dt>
            NOMS number:
          </dt>
          <dd>
            {{ offender.noms }}
          </dd>
          
          <dt>
            Keyworker:
          </dt>
          <dd>
            {{ offender.keyworker }}
          </dd>
        </dl>
      </div>

    </div> #}





    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-visually-hidden">
        Offender plans: {{ offender.name }}
      </h1>

      <div class="moj-page-header-actions govuk-!-margin-bottom-3">
        <div class="moj-page-header-actions__title">
          <h1 class="govuk-heading-l">
            Active plan
          </h1>
        </div>

        {% if data['answers-checked'] %}
        <div class="moj-page-header-actions__actions">
          <div class="moj-button-menu">
            <div class="moj-button-menu__wrapper">

              {# <div style="float: right;">
                {{ mojButtonMenu({
                items: [{
                  text: "First action",
                  href: "#"
                }, {
                  text: "Second action",
                  href: "#",
                  classes: "govuk-button--secondary"
                }, {
                  text: "Third action",
                  href: "#",
                  classes: "govuk-button--secondary"
                }]
                }) }}
              </div>  #}

              {{ govukButton ({
                text: 'Add a comment',
                href: '/offender/comment',
                classes: 'govuk-button--secondary moj-button-menu__item moj-page-header-actions__action'
              }) }}

              {{ govukButton ({
                text: 'Print',
                href: '/offender/print/',
                classes: 'govuk-button--secondary moj-button-menu__item moj-page-header-actions__action'
              }) }}

            </div>
          </div>
        </div>
        {% endif %}
      </div> 
      
      {% if data['answers-checked'] %}
        <h3 class="govuk-heading-m">
          Summary
        </h3>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              {{ offender.firstname }}&rsquo;s summary
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['offender-summary'] }}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Motivations
            </dt>
            <dd class="govuk-summary-list__value">
              <ul class="govuk-list govuk-list--bullet">
                {% for need in offender.needs %}
                  <li>
                    {{ need.type }}: 
                    {{ data["motivation-"+loop.index] }}
                  </li>
                {% endfor %}
              </ul>
            </dd>
          </div>
          {% if data['comment-added'] == "true" %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Comment from {{ moment | date("D MMMM YYYY") }}
            </dt>
            <dd class="govuk-summary-list__value">
              {% if data['offender-comment'] %}
              <p>{{ offender.firstname }}&rsquo;s words: {{ data['offender-comment'] }}</p>
              {% endif %}

              {% if data['practitioner-comment'] %}
              <p>Practitioner&rsquo;s words: {{ data['practitioner-comment'] }}</p>
              {% endif %}
              <p>
            </dd>
          </div>
          {% endif %}
        </dl>

        <h3 class="govuk-heading-m">
          Steps
        </h3>
        <div class="govuk-form-group govuk-!-margin-bottom-0">
          <div class="govuk-checkboxes govuk-checkboxes--small">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="show-completed" name="show-completed" type="checkbox" value="show-completed">
              <label class="govuk-label govuk-checkboxes__label" for="show-completed">
                Show completed steps
              </label>
            </div>
          </div>
        </div>
        
        {# {{ govukTable({
          classes: 'sortable-table',
          firstCellIsHeader: false,
          head: [
            {
              text: "Step"
            },
            {
              text: "Status"
            },
            {
              text: "Last updated",
              classes: "active"
            }
          ],
          rows: [
            [
              {
                html: "<a href='#0'>Improve employment opportunities by completing a CV.</a>"
              },
              {
                text: "In progress"
              },
              {
                text: "12 Sept 2019"
              }
            ],
            [
              {
                html: "<a href='/offender/step/'>"+data['step-description']+"</a>"
              },
              {
                text: "In progress"
              },
              {
                text: "12 Sept 2019"
              }
            ]
          ]
        }) }} #}

        <ul class="govuk-list">
          <li>
            <a href="#0" class="task">
              <span class="task__heading">
                Improve employment opportunities by completing a CV.
              </span>
              In progress · Last updated on {{ moment | date("subtract", 10, "days") | date("D MMMM YYYY") }}
            </a>
          </li>
          
          <li>
            <a href="/offender/step/" class="task">
              <span class="task__heading">
                {{ data['step-description'] }}
              </span>
              {{ data['step-description'] }} · Last updated on {{ moment | date("subtract", 10, "days") | date("D MMMM YYYY") }}
            </a>
          </li>
        </ul>
        <p><a href="#0">Add a step</a></p>
      {% else %}
        <p>There is no active plan.</p>
        {{ govukButton ({
          text: 'Start a new plan',
          href: '/offender/create-plan/summary'
        }) }}
      {% endif %}




      <hr class="govuk-section-break section-break-large">


      <h2 class="govuk-heading-m">
        Previous plans
      </h2>

      <ul class="govuk-list">
        <li>
          <a class="govuk-link" href="#">Plan closed {{ moment | date("subtract", 100, "days") | date("D MMMM YYYY") }}</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Plan closed {{ moment | date("subtract", 211, "days") | date("D MMMM YYYY") }}</a>
        </li>
      </ul>





      {# <h2 class="govuk-heading-m">
        Summary
      </h2>

      <dl class="govuk-summary-list /govuk-summary-list--no-border">
        {% for item in offender.summary %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              {{ item.title }}
            </dt>
            <dd class="govuk-summary-list__value">
              {{ item.value }}
            </dd>
          </div>
        {% endfor %}
      </dl> #}

    </div>
  </div>
{% endblock %}
