{% extends "layout.html" %}

{% block afterHeader %}
  {% include "includes/key-details.html" %}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink ({
    text: 'Back',
    href: '/offender/plan'
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="add-step" method="post">

        <h1 class="govuk-heading-l">Add an objective</h1>
        {{ govukInsetText ({
          html: 'You&rsquo;ll be able to add actions for this objective next.'
        }) }}

        {{ govukCharacterCount({
          id: 'goal2-description',
          name: 'goal2-description',
          value: data['goal2-description'] if data['goal2-description'] else '',
          maxwords: 50,
          label: {
            html: 'Objective description',
            classes: "govuk-label--m"
          },
          hint: {
            html: 'What does the individual need to achieve?'
          }
        }) }}



        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h1 class="govuk-fieldset__heading">
                Needs identified in OASys related to this objective
              </h1>
            </legend>
            <span class="govuk-hint">
               Select all that apply. 
            </span>

            <div class="govuk-checkboxes govuk-checkboxes--small">
              {% for need in offender.needs %}
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="goal2-needs{{ loop.index }}" name="goal2-needs" type="checkbox" value="{{ need.type }}{% if need.risk %} &ndash; <span class='risk'>Risk of serious harm</span>{% endif %}" {{ checked( "goal2-needs", need.type ) }}>
                  <label class="govuk-label govuk-checkboxes__label" for="goal2-needs{{ loop.index }}">
                    {{ need.type }}
                    {% if need.risk %}
                      &ndash; <span class="risk">Risk of serious harm</span>
                    {% endif %}
                  </label>
                </div>
              {% endfor %}
            </div>

          </fieldset>
        </div>



        {{ govukButton ({
          html: 'Continue',
          classes: 'govuk-!-margin-bottom-3'
        }) }}
        <p>or <a href="../cancel-goal">cancel</a></p>

      </form>

    </div>
  </div>
{% endblock %}
