$white-transparent: rgba(255, 255, 255, .3);

.key-details-bar {
  background-color: $govuk-brand-colour;

  .key-details-bar__key-details {
    @include govuk-width-container;
    padding: 10px 0 20px;
    position: relative;
    
    @media(max-width: 670px) {
      padding: 5px 0 10px;
    }

    * {
      color:  govuk-colour("white")
    }

    .key-details-bar__top-block,
    .key-details-bar__bottom-block,
    .govuk-details__text {
      &::after {
        clear: both;
        content: ' ';
        display: block;
      }
    }

    .key-details-bar__bottom-block {
      border-top: 1px solid $white-transparent;
      content: ' ';
      padding-top: 10px;
      margin-top: 6px;
      
      @media(max-width: 670px) {
        border: 0;
      }
    }

    .govuk-details {
      margin: 10px 0 0 0;
    }

    dt,
    dd {
      @include govuk-font(19);
      float: left;
      margin-right: 5px;

      @media(max-width: 670px) {
        float: none;
        margin: 0;
      }
    }

    dt {
      font-weight: bold;
    }

    dd {
      border-right: 1px solid $white-transparent;
      margin: 0 10px 0 0;
      padding: 0 10px 0 0;

      &:last-of-type {
        border: 0;
      }

      @media(max-width: 670px) {
        margin-bottom: 10px;
        border: 0;

        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }

    .key-details-bar__top-block dt,
    .key-details-bar__top-block dd {
      margin-top: 5px;

      @media(max-width: 670px) {
        margin-top: 0;
      }
    }

    .key-details-bar__top-block dt {
      @media(max-width: 670px) {
        float: left;
        margin-right: 8px;
      }
    }

    dd.key-details-bar__name {
      @include govuk-font($size: 27, $weight: bold);
      margin: 0 10px 0 0;
      border: 0;

      @media(max-width: 670px) {
        float: none;
        margin: 0 5px 10px 0;
      }
    }
  }
}