{% extends "layout.html" %}

{% block afterHeader %}
  {% include "includes/key-details.html" %}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink ({
    text: 'Back',
    href: 'motivations'
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="add-step" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Link a step from another goal (optional)
              </h1>
            </legend>
            <span class="govuk-hint">
              Note: updates to this step will show in any goals that share it.
            </span>
            <div class="govuk-checkboxes govuk-checkboxes--small">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="linked-step" name="linked-step" type="checkbox" value="{% if data['goal1-step1-intervention'] == 'Yes' %}Intervention: {{ data['goal1-step1-intervention-type'] }}{% else %}{{ data['goal1-step1-description'] }}{% endif %}">
                <label class="govuk-label govuk-checkboxes__label" for="linked-step">
                  {% if data['goal1-step1-intervention'] == 'Yes' %}Intervention: {{ data['goal1-step1-intervention-type'] }}{% else %}{{ data['goal1-step1-description'] }}{% endif %}
                </label>
              </div>

              {% if data['goal1-step2-added'] %}
                <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="linked-step2" name="linked-step" type="checkbox" value="{% if data['goal1-step2-intervention'] == 'Yes' %}Intervention: {{ data['goal1-step2-intervention-type'] }}{% else %}{{ data['goal1-step2-description'] }}{% endif %}">
                <label class="govuk-label govuk-checkboxes__label" for="linked-step2">
                  {% if data['goal1-step2-intervention'] == 'Yes' %}Intervention: {{ data['goal1-step2-intervention-type'] }}{% else %}{{ data['goal1-step2-description'] }}{% endif %}
                </label>
              </div>
              {% endif %}
          </fieldset>
        </div>

        
        {{ govukButton ({
          html: 'Continue',
          classes: 'govuk-!-margin-bottom-3'
        }) }}
        <p>or <a href="../cancel-goal">cancel</a></p>

      </form>

    </div>
  </div>
{% endblock %}
