{% extends "layout.html" %}

{% block afterHeader %}
  {% include "includes/key-details.html" %}
{% endblock %}

{% if data['goal2-added'] %}
  {% block beforeContent %}
    {{ govukBackLink ({
      text: 'Back to draft plan',
      href: '../check-your-answers'
    }) }}
  {% endblock %}
{% endif %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      {% if data['goal2-added'] == 'true' %}
        <h1 class="govuk-heading-l">Review and update the objective</h1>
      {% else %}
        <h1 class="govuk-heading-l">Check the objective before saving</h1>
      {% endif %}

      <h2 class="govuk-heading-m">Objective summary</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Goal
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['goal2-description'] | nl2br | safe }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="goal">
              Change
              <span class="govuk-visually-hidden"> objective</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Needs
          </dt>
          <dd class="govuk-summary-list__value">
            <ul class="govuk-list govuk-list--bullet">
              {% for need in data['goal2-needs'] %}
                <li>
                  {{ need | replace(" – <span class='risk'>Risk of serious harm</span>", "") }}
                </li>
              {% endfor %}
            </ul>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="goal">
              Change
              <span class="govuk-visually-hidden"> needs</span>
            </a>
          </dd>
        </div>
      </dl>



      {% if data['linked-step'].length %}
        <h2 class="govuk-heading-m">Action 1 (linked)</h2>
        {% include "includes/goal1-step1-summary.html" %}
        {% if data['linked-step'].length > 1 %}
          <h2 class="govuk-heading-m govuk-!-margin-top-9">Action 2 (linked)</h2>
          {% include "includes/goal1-step2-summary.html" %}
          <h2 class="govuk-heading-m govuk-!-margin-top-9">Action 3</h2>
          {% include "includes/goal2-step1-summary.html" %}
        {% else %}
          <h2 class="govuk-heading-m govuk-!-margin-top-9">Action 2</h2>
          {% include "includes/goal2-step1-summary.html" %}
        {% endif %}
      {% else %} 
        <h2 class="govuk-heading-m">Action 1</h2>
        {% include "includes/goal2-step1-summary.html" %}
        {% if data['goal2-step2-added'] == 'true' %}
        <h2 class="govuk-heading-m govuk-!-margin-top-9">Action 2</h2>
        {% include "includes/goal2-step2-summary.html" %}
        {% endif %}
      {% endif %}

      {% if data['goal2-step2-added'] or data['linked-step'].length %}
        {{ govukButton ({
          text: 'Add another action',
          href: '#0',
          classes: 'govuk-button--secondary govuk-!-margin-bottom-9'
        }) }}
        {{ govukButton ({
          text: 'Reorder actions',
          href: '#0',
          classes: 'govuk-button--secondary govuk-!-margin-bottom-9'
        }) }}
      {% else %}
        {{ govukButton ({
          text: 'Add another action',
          href: 'add-step2',
          classes: 'govuk-button--secondary govuk-!-margin-bottom-9'
        }) }}
      {% endif %}

      <form action="../check-your-answers" method="post" novalidate>

        {% if data['goal2-step1-started'] == 'Yes' %}
          <input type="hidden" name="goal2-step1-status" value="In progress">
        {% else %}
          <input type="hidden" name="goal2-step1-status" value="Not started">
        {% endif %}
        
        {% if data['goal2-step2-started'] == 'Yes' %}
          <input type="hidden" name="goal2-step2-status" value="In progress">
        {% else %}
          <input type="hidden" name="goal2-step2-status" value="Not started">
        {% endif %}
        <input type="hidden" name="goal2-added" value="true">

        {{ govukButton ({
          html: 'Save objective',
          classes: 'govuk-!-margin-bottom-3'
        }) }}
        {% if data['goal2-added'] == 'true' %}
          <p>or <a href="../cancel-goal">delete objective</a></p>
        {% else %}
          <p>or <a href="../cancel-goal">cancel</a></p>
        {% endif %}

      </form>

    </div>
  </div>
{% endblock %}
