{% extends "layout.html" %}

{% block afterHeader %}
  {% include "includes/key-details.html" %}
{% endblock %}

{% set step = data['step'] %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/offender/steps/step-updated" method="post">

        <h1 class="govuk-heading-l">
          <span class="govuk-caption-l">Update step</span>
          {% if data[step+'-intervention'] == 'Yes' %}
            Intervention: {{ data[step+'-intervention-type'] }}
          {% else %}
            {{ data[step+'-description'] }}
          {% endif %}
        </h1>

        {{ govukRadios ({
          idPrefix: 'status',
          name: step+'-status',
          fieldset: {
            legend: {
              text: 'Current status',
              isPageHeading: false,
              classes: 'govuk-fieldset__legend--s'
            }
          },
          hint: {
            text: ''
          },
          items: [
            {
              text: 'In progress',
              value: 'In progress',
              checked: checked(step+'-status', 'In progress')
            },
            {
              text: 'Paused',
              value: 'Paused',
              checked: checked(step+'-status', 'Paused')
            },
            {
              text: 'Completed',
              value: 'Completed',
              checked: checked(step+'-status', 'Completed')
            },
            {
              text: 'Partly completed',
              value: 'Partly completed',
              checked: checked(step+'-status', 'Partly completed')
            },
            {
              text: 'Abandoned',
              value: 'Abandoned',
              checked: checked(step+'-status', 'Abandoned')
            }
          ]
        }) }}

        {{ govukTextarea ({
            id: 'status-comment',
            name: step+'-status-comment',
            value: data[step+'-status-comment'] if data[step+'-status-comment'] else '',
            label: {
              html: 'Comment',
              isPageHeading: false,
              classes: "govuk-label--s"
            },
            hint: {
              text: ""
            }
          }) }}

          <input type="hidden" name="{{step}}-updated" value="true">

          {{ govukButton ({
            html: 'Save update',
            classes: 'govuk-!-margin-bottom-3'
          }) }}
          <p>or <a href="step?step={{step}}">cancel update</a></p>


        </form>

    </div>
  </div>
{% endblock %}
