{% extends "layout.html" %}

{% block afterHeader %}
  {% include "includes/key-details.html" %}
{% endblock %}

{% set step = data['step'] %}

{% block beforeContent %}
  {{ govukBackLink ({
    text: 'Back to goal',
    href: '/offender/goal'
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      
      {% if stepUpdated %}
        {{ mojBanner({
          type: 'success',
          text: stepUpdated,
          iconFallbackText: 'Success'
        }) }} 
      {% endif %}



      <div class="moj-page-header-actions">
        <div class="moj-page-header-actions__title">
          <h1 class="govuk-heading-l">
            <span class="govuk-caption-l">Step details</span>
            {% if data[step+'-intervention'] == 'Yes' %}
              Intervention: {{ data[step+'-intervention-type'] }}
            {% else %}
              {{ data[step+'-description'] }}
            {% endif %}
          </h1>
          {% if data[step+'-status'] %}
            <strong class="govuk-tag govuk-!-margin-top-4  govuk-!-margin-bottom-2
            {{ 'moj-tag--grey' if data[step+'-status'] == 'Not started' or data[step+'-status'] == 'Paused' }}
            {{ 'moj-tag--green' if data[step+'-status'] == 'Completed' or data[step+'-status'] == 'Partly completed' }}{{ 'moj-tag--red' if data[step+'-status'] == 'Abandoned' }}">{{ data[step+'-status'] }}</strong>
          {% endif %}
        </div>

        <div class="moj-page-header-actions__actions">
          <div class="moj-button-menu">
            <div class="moj-button-menu__wrapper">

              {{ govukButton ({
                text: 'Update progress',
                href: 'step-update?step='+step,
                classes: 'moj-button-menu__item moj-page-header-actions__action'
              }) }}

            </div>
          </div>
        </div>
      </div> 
    </div>





    <div class="govuk-grid-column-two-thirds">

      <h3 class="govuk-heading-m govuk-visually-hidden">
        Summary
      </h3>
      {% include "includes/"+step+"-summary.html" %}
 


      <h2 class="govuk-heading-m">
        History
      </h2>
      <div class="timeline">
        <ul>
        {% if data[step+'-updated'] %}
          <li>
            <h2 class="timeline__title">Status changed to {{ data [step+'-status'] | lower }}</h2>
            <p class="timeline__meta">
              <time>{{ moment | date("D MMMM YYYY") }} at {{ moment | date("h:mm a") }}</time>
              by Sarah Smith
            </p>

            {% if data[step+'-status-comment'] %}<p>{{ data[step+'-status-comment'] }}</p>{% endif %}

          </li>
        {% endif %}
          <li>
            <h2 class="timeline__title">Step created</h2>
            <p class="timeline__meta">
              <time>{{ moment | date("D MMMM YYYY") }} at {{ moment | date("subtract", 4, "minutes") | date("h:mm a") }}</time>
              by Sarah Smith
            </p>
          </li>
        </ul>
      </div>

    </div>
  </div>
{% endblock %}
