{% extends "layout.html" %}

{% block afterHeader %}
  {% include "includes/key-details.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/offender/step/step-updated-2" method="post">
      
        <h1 class="govuk-heading-l">
          <span class="govuk-caption-l">Update step</span>
          {{ data['step-description'] }}
        </h1>

        {{ govukRadios ({
          idPrefix: 'status-2',
          name: 'status-2',
          fieldset: {
            legend: {
              text: 'Current status',
              isPageHeading: false,
              classes: 'govuk-fieldset__legend--s'
            }
          },
          hint: {
            text: ''
          },
          items: [
            {
              text: 'In progress',
              value: 'In progress',
              checked: checked('status-2', 'In progress')
            },
            {
              text: 'Paused',
              value: 'Paused',
              checked: checked('status-2', 'Paused')
            },
            {
              text: 'Completed',
              value: 'Completed',
              checked: checked('status-2', 'Completed')
            },
            {
              text: 'Partly completed',
              value: 'Partly completed',
              checked: checked('status-2', 'Partly completed')
            },
            {
              text: 'Abandoned',
              value: 'Abandoned',
              checked: checked('status-2', 'Abandoned')
            }
          ]
        }) }}

        {{ govukTextarea ({
            id: 'status-comment-2',
            name: 'status-comment-2',
            value: data['status-comment-2'] if data['status-comment-2'] else '',
            label: {
              html: 'Comment',
              isPageHeading: false,
              classes: "govuk-label--s"
            },
            hint: {
              text: ""
            }
          }) }}

          <input type="hidden" name="status-updated-2" value="true">

          {{ govukButton ({
            html: 'Save update',
          classes: 'govuk-!-margin-bottom-3'
          }) }}
          <p>or <a class="delete-link" href="2">cancel update</a></p>


        </form>

    </div>
  </div>
{% endblock %}
