{% extends "layout.html" %}

{% block afterHeader %}
  {% include "includes/key-details.html" %}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink ({
    text: 'Back',
    href: 'motivations'
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="steps" method="post">

        <span class="govuk-caption-l">Create plan</span>
        <h1 class="govuk-heading-l">Add a step</h1>

        {{ govukTextarea ({
          id: 'step-description',
          name: 'step-description',
          value: data['step-description'] if data['step-description'] else '',
          label: {
            text: 'What step is '+offender.firstname+' going to take?',
            classes: "govuk-label--m"
          },
          hint: {
            text: "Describe the actions they will take."
          }
        }) }}





        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              Which needs are related to this step?
            </legend>
            <span class="govuk-hint">
               Select all that apply. 
            </span>

            <div class="govuk-checkboxes govuk-checkboxes--small">
              {% for need in offender.needs %}
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="step-needs-{{ loop.index }}" name="step-needs" type="checkbox" value="{{ need.type }}" {{ checked( "step-needs", need.type ) }}>
                  <label class="govuk-label govuk-checkboxes__label" for="step-needs-{{ loop.index }}">
                    {{ need.type }}
                    {% if need.risk %}
                      {# <strong class="govuk-tag moj-tag--red">Risk of serious harm</strong> #}
                      &ndash; <span class="risk">Risk of serious harm</span>
                    {% endif %}
                  </label>
                </div>
              {% endfor %}
            </div>

          </fieldset>
        </div>





        {% set interventionHMTL %}
          {{ govukInput ({
            id: 'intervention-type',
            name: 'intervention-type',
            value: data['intervention-type'] if data['intervention-type'] else '',
            classes: 'govuk-input--width-20',
            label: {
              text: 'Intervention type',
              classes: 'govuk-input--width-20'
            }
          }) }}
        {% endset -%}

        {{ govukRadios ({
          classes: "govuk-radios--small",
          idPrefix: 'step-intervention',
          name: 'step-intervention',
          fieldset: {
            legend: {
              text: 'Will the step involve an intervention?',
              classes: 'govuk-fieldset__legend--m'
            }
          },
          items: [
            {
              text: 'Yes',
              value: 'yes',
              checked: checked('step-intervention', 'yes'),
              conditional: {
                html: interventionHMTL
              }
            },
            {
              text: 'No',
              value: 'no',
              checked: checked('step-intervention', 'no')
            }
          ]
        }) }}





        {% set strengthHMTL %}
          {{ govukTextarea ({
            id: 'strength',
            name: 'strength',
            value: data['strength'] if data['strength'] else '',
            label: {
              text: 'Strength'
            }
          }) }}
        {% endset -%}

        {{ govukRadios ({
          classes: "govuk-radios--small",
          idPrefix: 'step-strength',
          name: 'step-strength',
          fieldset: {
            legend: {
              text: 'Does '+offender.firstname+' have a strength that will help them complete this step?',
              classes: 'govuk-fieldset__legend--m'
            }
          },
          items: [
            {
              text: 'Yes',
              value: 'yes',
              checked: checked('step-strength', 'yes'),
              conditional: {
                html: strengthHMTL
              }
            },
            {
              text: 'No',
              value: 'no',
              checked: checked('step-strength', 'yes')
            }
          ]
        }) }}





        {% set doneHMTL %}
          {{ govukInput ({
            id: 'step-done-other',
            name: 'step-done-other',
            value: data['step-done-other'] if data['step-done-other'] else '',
            classes: 'govuk-input--width-20',
            label: {
              text: 'Other',
              classes: 'govuk-input--width-20'
            }
          }) }}
        {% endset -%}

        {{ govukCheckboxes ({
          classes: "govuk-checkboxes--small",
          idPrefix: 'step-done',
          name: 'step-done',
          fieldset: {
            legend: {
              text: 'Who will make sure the step is done?',
              classes: 'govuk-fieldset__legend--m'
            }
          },
          items: [
            {
              text: offender.firstname,
              value: 'individual',
              checked: checked('step-done', 'individual')
            },
            {
              text: 'Responsible officer',
              value: 'responsible-officer',
              checked: checked('step-done', 'responsible-officer')
            },
            {
              text: 'Other',
              value: 'other',
              checked: checked('step-done', 'other'),
              conditional: {
                html: doneHMTL
              }
            }
          ]
        }) }}




        {{ govukButton ({
          html: 'Continue'
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
