{% extends "layout.html" %}

{% block afterHeader %}
  {% include "includes/key-details.html" %}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink ({
    text: 'Back',
    href: 'steps'
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <span class="govuk-caption-l">Create plan</span>
      <h1 class="govuk-heading-l">Check the plan before saving</h1>

      <h2 class="govuk-heading-m">Summary</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            {{ offender.firstname }}&rsquo;s summary
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['offender-summary'] | nl2br | safe }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="summary">
              Change
              <span class="govuk-visually-hidden"> summary</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Goal
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['goal'] | nl2br | safe }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="goal">
              Change
              <span class="govuk-visually-hidden"> summary</span>
            </a>
          </dd>
        </div>
        {# <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Motivations
          </dt>
          <dd class="govuk-summary-list__value">
            <ul class="govuk-list govuk-list--bullet">
              {% for need in offender.needs %}
                <li>
                  {{ need.type }}: 
                  {{ data["motivation-"+loop.index] }}
                </li>
              {% endfor %}
            </ul>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="motivations">
              Change
              <span class="govuk-visually-hidden"> motivations</span>
            </a>
          </dd>
        </div> #}
      </dl>

      <h2 class="govuk-heading-m">Step 1</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Needs
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data['step-needs'].length > 1 %}
            <ul class="govuk-list govuk-list--bullet">
              {% for need in data['step-needs'] %}
                <li>{{ need }}</li>
              {% endfor %}
            </ul>
            {% else %}
              {% for need in data['step-needs'] %}
                {{ need }}
              {% else %}
                No needs selected
              {% endfor %}
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="needs">
              Change
              <span class="govuk-visually-hidden"> needs</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Is intervention
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['step-intervention'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="intervention">
              Change
              <span class="govuk-visually-hidden"> intervention</span>
            </a>
          </dd>
        </div>


        {% if data['step-intervention'] == 'Yes' %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Intervention
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['intervention-type'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="step-details">
              Change
              <span class="govuk-visually-hidden"> intervention</span>
            </a>
          </dd>
        </div>
        {% else %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Description
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['step-description'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="step-details">
              Change
              <span class="govuk-visually-hidden"> description</span>
            </a>
          </dd>
        </div>
        {% endif %}
        
        
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Strength
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['strength'] if data['strength'] else 'No' }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="step-details">
              Change
              <span class="govuk-visually-hidden"> strength</span>
            </a>
          </dd>
        </div>


        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Responsible
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data['step-done'].length > 1 %}
            <ul class="govuk-list govuk-list--bullet">
              {% for person in data['step-done'] %}
                <li>{{ person }}</li>
              {% endfor %}
            </ul>
            {% else %}
              {% for person in data['step-done'] %}
                {{ person }}
              {% else %}
                Nobody selected
              {% endfor %}
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="step-details">
              Change
              <span class="govuk-visually-hidden"> responsible persons</span>
            </a>
          </dd>
        </div>
      </dl>

      
      {% if data['step-2-added'] == 'true' %}
      <h2 class="govuk-heading-m">Step 2</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Needs
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data['step-needs-2'].length > 1 %}
            <ul class="govuk-list govuk-list--bullet">
              {% for need in data['step-needs'] %}
                <li>{{ need }}</li>
              {% endfor %}
            </ul>
            {% else %}
              {% for need in data['step-needs-2'] %}
                {{ need }}
              {% else %}
                No needs selected
              {% endfor %}
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="needs-2">
              Change
              <span class="govuk-visually-hidden"> needs</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Is intervention
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['step-intervention-2'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="intervention-2">
              Change
              <span class="govuk-visually-hidden"> intervention</span>
            </a>
          </dd>
        </div>





        {% if data['step-intervention-2'] == 'Yes' %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Intervention
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['intervention-type-2'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="step-details-2">
              Change
              <span class="govuk-visually-hidden"> intervention</span>
            </a>
          </dd>
        </div>
        {% else %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Description
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['step-description-2'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="step-details-2">
              Change
              <span class="govuk-visually-hidden"> description</span>
            </a>
          </dd>
        </div>
        {% endif %}
        
        
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Strength
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['strength-2'] if data['strength-2'] else 'No' }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="step-details-2">
              Change
              <span class="govuk-visually-hidden"> strength</span>
            </a>
          </dd>
        </div>


        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Responsible
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data['step-done-2'].length > 1 %}
            <ul class="govuk-list govuk-list--bullet">
              {% for person in data['step-done-2'] %}
                <li>{{ person }}</li>
              {% endfor %}
            </ul>
            {% else %}
              {% for person in data['step-done-2'] %}
                {{ person }}
              {% else %}
                Nobody selected
              {% endfor %}
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="step-details-2">
              Change
              <span class="govuk-visually-hidden"> responsible persons</span>
            </a>
          </dd>
        </div>
      </dl>
      {% endif %}


      <form action="/offender/plan-saved" method="post" novalidate>

        <input type="hidden" name="answers-checked" value="true">
        <input type="hidden" name="status-2" value="In progress">

        {{ govukButton ({
          html: 'Save plan',
          classes: 'govuk-!-margin-bottom-3'
        }) }}
        <p>or <a class="delete-link" href="/offender">cancel plan</a></p>

      </form>

    </div>
  </div>
{% endblock %}
