{% extends "layout.html" %}

{% block afterHeader %}
  {% include "includes/key-details.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-l">Draft plan</h1>

      <h2 class="govuk-heading-m">Summary</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Diversity
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['diversity'] | nl2br | safe }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="summary">
              Change
              <span class="govuk-visually-hidden"> their summary</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Their summary
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['offender-summary'] | nl2br | safe }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="summary">
              Change
              <span class="govuk-visually-hidden"> their summary</span>
            </a>
          </dd>
        </div>
      </dl>




      <h2 class="govuk-heading-m">Goals</h2>

      {% if not data['goal1-added'] %}
        <p class="govuk-!-margin-bottom-9">No goals added yet.</p>
        {{ govukButton ({
          text: 'Add a goal',
          href: 'add-goal/goal',
          classes: 'govuk-button--secondary govuk-!-margin-bottom-4'
        }) }}
      {% else %}


        <ul class="govuk-list govuk-!-margin-bottom-9">
          {% if data['goals-reordered'] == 'true' %}
            {% include "includes/goal2-card.html" %}
            {% include "includes/goal1-card.html" %}
          {% else %} 
            {% include "includes/goal1-card.html" %}
            
            {% if data['goal2-added'] == 'true' %}
              {% include "includes/goal2-card.html" %}
            {% endif %}
          {% endif %}
        </ul>

        
        {% if data['goal2-added'] %}
          {{ govukButton ({
            text: 'Add another goal',
            href: '#0',
            classes: 'govuk-button--secondary govuk-!-margin-bottom-3'
          }) }}
          {{ govukButton ({
            text: 'Reorder goals',
            href: 'reorder-goals',
            classes: 'govuk-button--secondary govuk-!-margin-bottom-3'
          }) }}
        {% else %}
          {{ govukButton ({
            text: 'Add another goal',
            href: 'add-goal2/goal',
            classes: 'govuk-button--secondary govuk-!-margin-bottom-3'
          }) }}
        {% endif %}
      {% endif %}




      {# {% if data['reordered'] == 'true' %}
        <h2 class="govuk-heading-m">Step 1</h2>
        {% include "includes/step2-summary.html" %}
        <h2 class="govuk-heading-m">Step 2</h2>
        {% include "includes/step1-summary.html" %}
      {% else %} 
        <h2 class="govuk-heading-m">Step 1</h2>
        {% include "includes/step1-summary.html" %}
        {% if data['step-2-added'] == 'true' %}
        <h2 class="govuk-heading-m">Step 2</h2>
        {% include "includes/step2-summary.html" %}
        {% endif %}
      {% endif %} #}

      <p class="govuk-!-margin-bottom-3">
      {{ govukButton ({
        text: 'Save and continue',
        href: 'comment',
        classes: 'govuk-!-margin-bottom-0'
      }) }}
      </p>
      <p>or <a href="cancel-plan">cancel</a></p>

    </div>
  </div>
{% endblock %}
