{% extends "layout.html" %}

{% block afterHeader %}
  {% include "includes/key-details.html" %}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink ({
    text: 'Back',
    href: 'steps'
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <span class="govuk-caption-l">Create plan</span>
      <h1 class="govuk-heading-l">Check the plan before saving</h1>

      <h2 class="govuk-heading-m">Summary</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Diversity
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['diversity'] | nl2br | safe }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="diversity">
              Change
              <span class="govuk-visually-hidden"> notes</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Their summary
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['offender-summary'] | nl2br | safe }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="summary">
              Change
              <span class="govuk-visually-hidden"> summary</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Goal
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['goal'] | nl2br | safe }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="goal">
              Change
              <span class="govuk-visually-hidden"> summary</span>
            </a>
          </dd>
        </div>
        {# <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Motivations
          </dt>
          <dd class="govuk-summary-list__value">
            <ul class="govuk-list govuk-list--bullet">
              {% for need in offender.needs %}
                <li>
                  {{ need.type }}: 
                  {{ data["motivation-"+loop.index] }}
                </li>
              {% endfor %}
            </ul>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="motivations">
              Change
              <span class="govuk-visually-hidden"> motivations</span>
            </a>
          </dd>
        </div> #}
      </dl>




      {% if data['reordered'] == 'true' %}
        <h2 class="govuk-heading-m">Step 1</h2>
        {% include "includes/step1-summary.html" %}
        <h2 class="govuk-heading-m">Step 2</h2>
        {% include "includes/step2-summary.html" %}
      {% else %} 
        <h2 class="govuk-heading-m">Step 1</h2>
        {% include "includes/step1-summary.html" %}
        {% if data['step-2-added'] == 'true' %}
        <h2 class="govuk-heading-m">Step 2</h2>
        {% include "includes/step2-summary.html" %}
        {% endif %}
      {% endif %}


      <form action="/offender/plan-saved" method="post" novalidate>

        <input type="hidden" name="answers-checked" value="true">
        <input type="hidden" name="status" value="In progress">
        <input type="hidden" name="status-2" value="In progress">

        {{ govukButton ({
          html: 'Save plan',
          classes: 'govuk-!-margin-bottom-3'
        }) }}
        <p>or <a class="delete-link" href="/offender">cancel plan</a></p>

      </form>

    </div>
  </div>
{% endblock %}
