{% extends "layout.html" %}

{% block afterHeader %}
  {% include "includes/key-details.html" %}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink ({
    text: 'Back',
    href: 'summary'
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="needs" method="post">

        <span class="govuk-caption-l">Create plan</span>
        {{ govukTextarea ({
          id: 'goal',
          name: 'goal',
          value: data['goal'] if data['goal'] else '',
          label: {
            html: 'What is the goal for the plan?',
            isPageHeading: true,
            classes: "govuk-label--l"
          },
          hint: {
            text: "Describe the overall objective for the plan, individual steps and interventions can be added later."
          }
        }) }}

        {{ govukButton ({
          html: 'Continue',
          classes: 'govuk-!-margin-bottom-3'
        }) }}
        <p>or <a class="delete-link" href="/offender">cancel plan</a></p>

      </form>

    </div>
  </div>
{% endblock %}
