{% extends "layout.html" %}

{% block afterHeader %}
  {% include "includes/key-details.html" %}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink ({
    text: 'Back',
    href: 'needs-2'
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="step-details-2" method="post">

        <span class="govuk-caption-l">Create plan</span>
        <h1 class="govuk-heading-l">Add a step</h1>

        

        {{ govukRadios ({
          classes: "govuk-radios--inline govuk-radios--/small",
          idPrefix: 'step-intervention-2',
          name: 'step-intervention-2',
          fieldset: {
            legend: {
              text: 'Will the step involve an intervention?',
              classes: 'govuk-fieldset__legend--m'
            }
          },
          items: [
            {
              text: 'Yes',
              value: 'Yes',
              checked: checked('step-intervention-2', 'Yes')
            },
            {
              text: 'No',
              value: 'No',
              checked: checked('step-intervention-2', 'No')
            }
          ]
        }) }}



        {{ govukButton ({
          html: 'Continue',
          classes: 'govuk-!-margin-bottom-3'
        }) }}
        <p>or <a class="delete-link" href="/steps">cancel new step</a></p>

      </form>

    </div>
  </div>
{% endblock %}
