{% extends "layout.html" %}

{% block afterHeader %}
  {% include "includes/key-details.html" %}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink ({
    text: 'Back',
    href: 'intervention-2'
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="steps" method="post">

        <span class="govuk-caption-l">Create plan</span>
        <h1 class="govuk-heading-l">Add another step</h1>

        {% if data['step-intervention-2'] == 'Yes' %}

          <div class="govuk-form-group">
            <label for="intervention-type-2" class="govuk-label govuk-label--m">What intervention is {{ offender.firstname }} going to take?</label>
            <div class="govuk-grid-row">
              <div id="intervention-type-2-container" class="govuk-grid-column-two-thirds"></div>
            </div>
          </div>

        {% else %}

          {{ govukTextarea ({
            id: 'step-description-2',
            name: 'step-description-2',
            rows: '3',
            value: data['step-description-2'] if data['step-description-2'] else '',
            label: {
              text: 'What step is '+offender.firstname+' going to take?',
              classes: "govuk-label--m"
            },
            hint: {
              text: "Describe the actions they will take."
            }
          }) }}

        {% endif %}






        {% set strengthHMTL %}
          {{ govukTextarea ({
            id: 'strength-2',
            name: 'strength-2',
            rows: "3",
            value: data['strength-2'] if data['strength-2'] else '',
            label: {
              text: 'Strength'
            }
          }) }}
        {% endset -%}

        {{ govukRadios ({
          classes: "govuk-radios--small",
          idPrefix: 'step-strength-2',
          name: 'step-strength-2',
          fieldset: {
            legend: {
              text: 'Does '+offender.firstname+' have a strength that will help them complete this step?',
              classes: 'govuk-fieldset__legend--m'
            }
          },
          items: [
            {
              text: 'Yes',
              value: 'yes',
              checked: checked('step-strength-2', 'yes'),
              conditional: {
                html: strengthHMTL
              }
            },
            {
              text: 'No',
              value: 'no',
              checked: checked('step-strength-2', 'yes')
            }
          ]
        }) }}





        {% set doneHMTL %}
          {{ govukInput ({
            id: 'step-done-2-other-2',
            name: 'step-done-2-other-2',
            value: data['step-done-2-other-2'] if data['step-done-other-2'] else '',
            classes: 'govuk-input--width-20',
            label: {
              text: 'Other',
              classes: 'govuk-input--width-20'
            }
          }) }}
        {% endset -%}

        {{ govukCheckboxes ({
          classes: "govuk-checkboxes--small",
          idPrefix: 'step-done-2',
          name: 'step-done-2',
          fieldset: {
            legend: {
              text: 'Who will make sure the step is done?',
              classes: 'govuk-fieldset__legend--m'
            }
          },
          items: [
            {
              text: 'Individual',
              value: 'Individual',
              checked: checked('step-done-2', 'individual')
            },
            {
              text: 'Responsible officer',
              value: 'Responsible officer',
              checked: checked('step-done-2', 'responsible-officer')
            },
            {
              text: 'Other',
              value: 'Other',
              checked: checked('step-done-2', 'other'),
              conditional: {
                html: doneHMTL
              }
            }
          ]
        }) }}



        <input type="hidden" name="step-2-added" value="true">

        {{ govukButton ({
          html: 'Continue',
          classes: 'govuk-!-margin-bottom-3'
        }) }}
        <p>or <a class="delete-link" href="/steps">cancel new step</a></p>

      </form>

    </div>
  </div>
{% endblock %}
