{% extends "layout.html" %}

{% block afterHeader %}
  {% include "includes/key-details.html" %}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink ({
    text: 'Back',
    href: 'add-step'
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">Create plan</span>
      <h1 class="govuk-heading-l">Review steps</h1>

      {# {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-2',
        rows: [
          {
            key: {
              text: "Task 1",
              classes: "govuk-!-width-one-quarter"
            },
            value: {
              text: "Improve employment opportunities by completing a CV."
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Edit",
                  visuallyHiddenText: "task"
                },
                {
                  href: "#",
                  text: "Delete",
                  classes: 'delete-link',
                  visuallyHiddenText: "task"
                }
              ]
            }
          }
        ]
      }) }} #}
      <dl class="govuk-summary-list govuk-!-margin-bottom-2">
        
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-quarter">
              Task 1
            </dt>
            <dd class="govuk-summary-list__value">
              Improve employment opportunities by completing a CV.
            </dd>
            
            <dd class="govuk-summary-list__actions">
              <ul class="govuk-summary-list__actions-list">
                <li class="govuk-summary-list__actions-list-item">
                  <a class="govuk-link" href="#">Edit<span class="govuk-visually-hidden"> task 1</span></a>
                </li>
                
                <li class="govuk-summary-list__actions-list-item">
                  <a class="govuk-link delete-link" href="#">Delete<span class="govuk-visually-hidden"> task 2</span></a>
                </li>
              </ul>
            </dd>
          </div>

          {% if data['step-description'] %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key govuk-!-width-one-quarter">
                Task 2
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['step-description'] }}
              </dd>
              
              <dd class="govuk-summary-list__actions">
                <ul class="govuk-summary-list__actions-list">
                  <li class="govuk-summary-list__actions-list-item">
                    <a class="govuk-link" href="add-step">Edit<span class="govuk-visually-hidden"> task 2</span></a>
                  </li>
                  
                  <li class="govuk-summary-list__actions-list-item">
                    <a class="govuk-link delete-link" href="#">Delete<span class="govuk-visually-hidden"> task 2</span></a>
                  </li>
                </ul>
              </dd>
            </div>
          {% endif %}
        
      </dl>
      
      {% if data['step-description'] %}
      <p class="govuk-!-margin-bottom-6"><a class="govuk-link" href="#0">Add another step</a></p>
      {% else %}
      <p class="govuk-!-margin-bottom-6"><a class="govuk-link" href="add-step">Add another step</a></p>
      {% endif %}

      {{ govukButton ({
        text: 'Continue',
        href: 'check-your-answers'
      }) }}

    </div>
  </div>
{% endblock %}
