{% extends "layout.html" %}

{% block afterHeader %}
  {% include "includes/key-details.html" %}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink ({
    text: 'Back',
    href: 'intervention'
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="steps" method="post">

        <span class="govuk-caption-l">Create plan</span>
        <h1 class="govuk-heading-l">Add first step</h1>

        {% if data['step-intervention'] == 'Yes' %}

          <div class="govuk-form-group">
            <label for="intervention-type" class="govuk-label govuk-label--m">What intervention is {{ offender.firstname }} going to take?</label>
            <div class="govuk-grid-row">
              <div id="intervention-type-container" class="govuk-grid-column-two-thirds"></div>
            </div>
          </div>

        {% else %}

          {{ govukTextarea ({
            id: 'step-description',
            name: 'step-description',
            rows: '3',
            value: data['step-description'] if data['step-description'] else '',
            label: {
              text: 'What step is '+offender.firstname+' going to take?',
              classes: "govuk-label--m"
            },
            hint: {
              text: "Describe the actions they will take."
            }
          }) }}

        {% endif %}




        {{ govukDateInput({
          id: "step-date",
          namePrefix: "step-date",
          fieldset: {
            legend: {
              text: "What is the target date for the step to be finished?",
              classes: "govuk-fieldset__legend--m"
            }
          }
        }) }}






        {% set strengthHMTL %}
          {{ govukTextarea ({
            id: 'strength',
            name: 'strength',
            rows: "3",
            value: data['strength'] if data['strength'] else '',
            label: {
              text: 'Strength'
            }
          }) }}
        {% endset -%}

        {{ govukRadios ({
          classes: "govuk-radios--small",
          idPrefix: 'step-strength',
          name: 'step-strength',
          fieldset: {
            legend: {
              text: 'Does '+offender.firstname+' have a strength that will help them complete this step?',
              classes: 'govuk-fieldset__legend--m'
            }
          },
          items: [
            {
              text: 'Yes',
              value: 'yes',
              checked: checked('step-strength', 'yes'),
              conditional: {
                html: strengthHMTL
              }
            },
            {
              text: 'No',
              value: 'no',
              checked: checked('step-strength', 'yes')
            }
          ]
        }) }}





        {% set doneHMTL %}
          {{ govukInput ({
            id: 'step-done-other',
            name: 'step-done-other',
            value: data['step-done-other'] if data['step-done-other'] else '',
            classes: 'govuk-input--width-20',
            label: {
              text: 'Other',
              classes: 'govuk-input--width-20'
            }
          }) }}
        {% endset -%}

        {{ govukCheckboxes ({
          classes: "govuk-checkboxes--small",
          idPrefix: 'step-done',
          name: 'step-done',
          fieldset: {
            legend: {
              text: 'Who will make sure the step is done?',
              classes: 'govuk-fieldset__legend--m'
            }
          },
          items: [
            {
              text: 'Individual',
              value: 'Individual',
              checked: checked('step-done', 'individual')
            },
            {
              text: 'Responsible officer',
              value: 'Responsible officer',
              checked: checked('step-done', 'responsible-officer')
            },
            {
              text: 'Other',
              value: 'Other',
              checked: checked('step-done', 'other'),
              conditional: {
                html: doneHMTL
              }
            }
          ]
        }) }}




        {{ govukButton ({
          html: 'Continue',
          classes: 'govuk-!-margin-bottom-3'
        }) }}
        <p>or <a class="delete-link" href="/offender">cancel plan</a></p>

      </form>

    </div>
  </div>
{% endblock %}
