{% extends "layout.html" %}

{% block afterHeader %}
  {% include "includes/key-details.html" %}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink ({
    text: 'Back',
    href: 'step-details'
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    {% if data['prototype-options'] == 'Safeguarding' %}
        <div class="govuk-grid-column-full">
          {{ mojBanner({
            type: 'information',
            text: 'A safeguarding step has been added automatically based on information from OASys.',
            iconFallbackText: 'Information'
          }) }} 
        </div>
      {% elif data['prototype-options'] == 'Unpaid work' %}
        <div class="govuk-grid-column-full">
          {{ mojBanner({
            type: 'information',
            text: 'An unpaid work step has been added automatically based on information from OASys.',
            iconFallbackText: 'Information'
          }) }} 
        </div>
      {% endif %}


    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">Create plan</span>
      <h1 class="govuk-heading-l">Review steps</h1>

      <dl class="govuk-summary-list / govuk-!-margin-bottom-3">

        <div class="govuk-summary-list__row">
          {% if data['reordered'] == 'true' %}
            <dt class="govuk-summary-list__key govuk-!-width-one-quarter">
              {{ data['intervention-type-2'] if data['step-intervention-2'] == 'Yes' else data['step-description-2']  }}
            </dt>
          {% else %} 
            <dt class="govuk-summary-list__key govuk-!-width-one-quarter">
              {{ data['intervention-type'] if data['step-intervention'] == 'Yes' else data['step-description']  }}
            </dt>
          {% endif %}
          
          <dd class="govuk-summary-list__actions">
            <ul class="govuk-summary-list__actions-list">
              <li class="govuk-summary-list__actions-list-item">
                <a class="govuk-link govuk-link--no-visited-state" href="needs">Edit</a>
              </li>
              
              <li class="govuk-summary-list__actions-list-item">
                <a class="govuk-link delete-link" href="#0">Delete</a>
              </li>
            </ul>
          </dd>
        </div>

        {% if data['step-2-added'] == 'true' %}
        <div class="govuk-summary-list__row">
        {% if data['reordered'] == 'true' %}
          <dt class="govuk-summary-list__key govuk-!-width-one-quarter">
            {{ data['intervention-type'] if data['step-intervention'] == 'Yes' else data['step-description']  }}
          </dt>
        {% else %} 
          <dt class="govuk-summary-list__key govuk-!-width-one-quarter">
            {{ data['intervention-type-2'] if data['step-intervention-2'] == 'Yes' else data['step-description-2']  }}
          </dt>
        {% endif %}
          
          
          <dd class="govuk-summary-list__actions">
            <ul class="govuk-summary-list__actions-list">
              <li class="govuk-summary-list__actions-list-item">
                <a class="govuk-link govuk-link--no-visited-state" href="needs-2">Edit</a>
              </li>
              
              <li class="govuk-summary-list__actions-list-item">
                <a class="govuk-link delete-link" href="#0">Delete</a>
              </li>
            </ul>
          </dd>
        </div>
        {% endif %}
        
      </dl>
      <p class="govuk-!-margin-bottom-6">
        {% if data['step-2-added'] %}
        <a class="govuk-link govuk-link--no-visited-state" href="#0">Add another</a> or <a class="govuk-link govuk-link--no-visited-state" href="steps-reorder">reorder</a>
        {% else %}
        <a class="govuk-link govuk-link--no-visited-state" href="needs-2">Add another</a>
        {% endif %}
      </p>
      
      {{ govukButton ({
        text: 'Continue',
        href: 'check-your-answers',
          classes: 'govuk-!-margin-bottom-3'
        }) }}
        <p>or <a class="delete-link" href="/offender">cancel plan</a></p>


    </div>
  </div>
{% endblock %}
