{% extends "layout.html" %}

{% block afterHeader %}
  {% include "includes/key-details.html" %}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink ({
    text: 'Back',
    href: '/offender'
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="check-your-answers" method="post">

        <h1 class="govuk-heading-l">Sensitive details</h1>

        {{ govukTextarea ({
          id: 'diversity',
          name: 'diversity',
          value: data['diversity'] if data['diversity'] else '',
          label: {
            html: 'Diversity needs',
            classes: "govuk-label--m"
          },
          hint: {
            text: "Record their diversity needs. For example: ethnicity, race, sexual orientation, gender, age or religion."
          }
        }) }}

        {{ govukTextarea ({
          id: 'offender-summary',
          name: 'offender-summary',
          value: data['offender-summary'] if data['offender-summary'] else '',
          label: {
            html: 'They need us to know',
            classes: "govuk-label--m"
          },
          hint: {
            text: "Add any other things they need us to know about them. Use their words."
          }
        }) }}

        <input type="hidden" name="plan-status" value="draft">

        {{ govukButton ({
          html: 'Save and continue',
          classes: 'govuk-!-margin-bottom-3'
        }) }}
        <p>or <a href="cancel-plan">cancel</a></p>

      </form>

    </div>
  </div>
{% endblock %}
