{% extends "layout.html" %}

{% block header %}
  {{ mojHeader({
    organisationLabel: {
      text: 'HMPPS',
      href: '/index'
    },
    serviceLabel: {
      text: serviceName,
      href: '#0'
    }

  }) }} 

  {% block afterHeader %}{% endblock %}
{% endblock %}

{# {% block beforeContent %}
  <a class="govuk-back-link" href="account-check">Back</a>
{% endblock %} #}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="/offender?id=1" method="post">

        <h1 class="govuk-heading-l">
          Sign in with your OASys credentials
        </h1>

        {{ govukInput({
            id: 'email',
            name: 'email',
            classes: 'govuk-input--width-20',
            label: {
              text: 'Username',
              classes: ''
            }
        }) }}

        {{ govukInput({
            id: 'password',
            name: 'password',
            classes: 'govuk-input--width-20',
            label: {
              text: 'Password',
              classes: ''
            }
        }) }}

        {{ govukButton({
          html: 'Continue'
        }) }}

        <h2 class="govuk-heading-m">
          Problems signing in?
        </h2>

        <p>Please return to OASys to reset your password or to get help with your account.</p>

        <p><a href="#0">Back to OASys</a></p>

      </form>
    </div>
  </div>
{% endblock %}
