{% extends "layout.html" %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

<!-- Adds spacing for pages without a back button -->
{% set mainClasses = "govuk-main-wrapper--l" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <span class="govuk-caption-xl">Prototypes</span>
      <h1 class="govuk-heading-xl">
        Sentence plan
      </h1>
    </div>
    <div class="govuk-grid-column-two-thirds">
      <h2 class='govuk-heading-l govuk-visually-hidden'>
        Latest sprint
      </h2>

      {# Start of most recent box #}
        <div class="most-recent">

  				{# Start of prototype write up #}
  				<div class="prototype-write-up">
            {{ govukTag({
              text: 'Alpha sprint 6',
              classes: 'govuk-!-margin-bottom-4'
            }) }}

            <h3 class='govuk-heading-m'>
              MVP reference
              <span class="version">v0.2</span>
            </h3>
            <p>Added/updated:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>content changes</li>
              <li>reduced content in key details</li>
              <li>goals and steps now use character count component</li>
              <li>added liaison arrangements</li>
              <li>added board reviews</li>
              <li>redesign plan overview to use tabs</li>
              <li>add a new goal once plan is live (inc. draft on overview)</li>
              <li>Change Goals/Steps to Objective/Actions</li>
            </ul>

            <form action="/oasys" method="post" novalidate>

              {{ govukCheckboxes({
                classes: "govuk-checkboxes--small",
                idPrefix: 'unpaidwork',
                name: 'unpaidwork',
                items: [
                  {
                    text: 'Add in unpaid work',
                    value: 'yes'
                  }
                ]
              }) }}

              {{ govukButton ({
                text: 'View prototype',
                isStartButton: true,
                classes: 'govuk-!-margin-bottom-4'
              }) }} 

              <p><a href="screens">View all screens</a></p>

            </form>


            {# <p class="govuk-!-margin-bottom-0"><a href="/offender/admin-plan">Create a mock plan</a></p> #}

  				</div>
  				{# End of prototype write up #}

  			</div>
  			{# End of most recent box #}









      <h2 class='govuk-heading-l'>
        Sprint history
      </h2>
      {# Start of hidden panel #}

			<details class="govuk-details">
				<summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">Show all sprints</span>
        </summary>
				<div class="govuk-details__text">



          {# Start of prototype write up #}
  				<div class="prototype-write-up">
            {{ govukTag({
              text: 'Alpha sprint 5',
              classes: 'govuk-!-margin-bottom-4'
            }) }}

            <h3 class='govuk-heading-m'>
              MVP reference
              <span class="version">v0.1</span>
            </h3>
            <p>First pass at an MVP.</p>

            <form action="https://sentence-plan-mvp-1.herokuapp.com/" method="post" novalidate>

              {{ govukButton ({
                text: 'View prototype',
                isStartButton: true,
                classes: 'govuk-!-margin-bottom-4'
              }) }} 

            </form>


            {# <p class="govuk-!-margin-bottom-0"><a href="/offender/admin-plan">Create a mock plan</a></p> #}

  				</div>
  				{# End of prototype write up #}


          {# Start of prototype write up #}
  				<div class="prototype-write-up">
            {{ govukTag({
              text: 'Alpha sprint 3',
              classes: 'govuk-!-margin-bottom-4'
            }) }}

            <h3 class='govuk-heading-m'>
              Review and update previous prototype
              {# <span class="version">Version 1</span> #}
            </h3>
            <p>Previous prototypes were created as slidedecks, this takes that work and updates to ensure standards and patterns from GOV.UK and MOJ design systems are being followed.</p>

            <form action="https://sentence-plan-sprint3.herokuapp.com" method="post" novalidate>

              {{ govukButton ({
                text: 'View prototype',
                isStartButton: true,
                classes: 'govuk-!-margin-bottom-4'
              }) }}

            </form>


            <p class="govuk-!-margin-bottom-0"><a href="/offender/admin-plan">Create a mock plan</a></p>

  				</div>
  				{# End of prototype write up #}

				</div>
			</details>
			{# End of hidden panel #}



    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Related content
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="https://github.com/ministryofjustice/sentence-plan-prototype">
                Prototype GitHub repository
              </a>
            </li>
            <li>
              <a href="https://dsdmoj.atlassian.net/wiki/spaces/sentenceplan/overview">
                Project Confluence
              </a>
            </li>
            <li>
              <a href="https://drive.google.com/drive/folders/1ZWqdTo1o8G5IiOWwhiqJjrZy473ovbuP">
                Team Google Drive
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>
</div>

{% endblock %}
