{% extends "layout.html" %}

{% block afterHeader %}
  {% include "includes/key-details.html" %}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink ({
    text: 'Back',
    href: 'check-your-answers'
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="check-your-answers" method="post">

        <h1 class="govuk-heading-l">Add a step</h1>


        {% set interventionYesHtml %}
        <div class="govuk-form-group">
          <label for="goal1-step2-intervention-type" class="govuk-label govuk-label--m">What intervention are they going to take?</label>
          <div class="govuk-grid-row">
            <div id="goal1-step2-intervention-type-container" class="govuk-grid-column-two-thirds"></div>
          </div>
        </div>
        {% endset -%}

        {% set interventionNoHtml %}
        {{ govukTextarea ({
          id: 'goal1-step2-description',
          name: 'goal1-step2-description',
          rows: '3',
          value: data['goal1-step2-description'] if data['goal1-step2-description'] else '',
          label: {
            text: 'What step are they going to take?',
            classes: "govuk-label--m"
          },
          hint: {
            text: ""
          }
        }) }}
        {% endset -%}

        {{ govukRadios ({
          classes: "govuk-radios--inline govuk-radios--/small",
          idPrefix: 'goal1-step2-intervention',
          name: 'goal1-step2-intervention',
          fieldset: {
            legend: {
              text: 'Will the step be an accredited intervention?',
              isPageHeading: true,
              classes: 'govuk-fieldset__legend--m'
            }
          },
          items: [
            {
              text: 'Yes',
              value: 'Yes',
              conditional: {
                html: interventionYesHtml
              },
              checked: checked('goal1-step2-intervention', 'Yes')
            },
            {
              text: 'No',
              value: 'No',
              conditional: {
                html: interventionNoHtml
              },
              checked: checked('goal1-step2-intervention', 'No')
            }
          ]
        }) }}




        {{ govukDateInput({
          id: "goal1-step2-date",
          namePrefix: "goal1-step2-date",
          fieldset: {
            legend: {
              text: "What is the target date for the step to be finished?",
              classes: "govuk-fieldset__legend--m"
            }
          }
        }) }}






        {# {% set strengthHMTL %}
          {{ govukTextarea ({
            id: 'goal1-step2-strength',
            name: 'goal1-step2-strength',
            rows: "3",
            value: data['goal1-step2-strength'] if data['goal1-step2-strength'] else '',
            label: {
              text: 'Positive factors'
            }
          }) }}
        {% endset -%}

        {{ govukRadios ({
          classes: "govuk-radios--small",
          idPrefix: 'goal1-strength-check',
          name: 'goal1-strength-check',
          fieldset: {
            legend: {
              text: 'Do you want to enter any positive factors that will help them finish the step?',
              classes: 'govuk-fieldset__legend--m'
            }
          },
          items: [
            {
              text: 'Yes',
              value: 'yes',
              checked: checked('goal1-strength-check', 'yes'),
              conditional: {
                html: strengthHMTL
              }
            },
            {
              text: 'No',
              value: 'no',
              checked: checked('goal1-strength-check', 'yes')
            }
          ]
        }) }} #}





        {% set doneHMTL %}
          {{ govukInput ({
            id: 'goal1-step2-responsible-other',
            name: 'goal1-step2-responsible-other',
            value: data['goal1-step2-responsible-other'] if data['goal1-step2-responsible-other'] else '',
            classes: 'govuk-input--width-20',
            label: {
              text: 'Other',
              classes: 'govuk-input--width-20'
            }
          }) }}
        {% endset -%}

        {{ govukCheckboxes ({
          classes: "govuk-checkboxes--small",
          idPrefix: 'goal1-step2-responsible',
          name: 'goal1-step2-responsible',
          fieldset: {
            legend: {
              text: 'Who will make sure the step is done?',
              classes: 'govuk-fieldset__legend--m'
            }
          },
          items: [
            {
              text: 'Individual',
              value: 'Individual',
              checked: checked('goal1-step2-responsible', 'individual')
            },
            {
              text: 'Responsible officer',
              value: 'Responsible officer',
              checked: checked('goal1-step2-responsible', 'responsible-officer')
            },
            {
              text: 'Other',
              value: 'Other',
              checked: checked('goal1-step2-responsible', 'other'),
              conditional: {
                html: doneHMTL
              }
            }
          ]
        }) }}



        {{ govukRadios ({
          idPrefix: 'goal1-step2-started',
          name: 'goal1-step2-started',
          fieldset: {
            legend: {
              text: 'Do you want to start the step straight away?',
              classes: 'govuk-fieldset__legend--m'
            }
          },
          items: [
            {
              text: 'Yes',
              value: 'Yes'
            },
            {
              text: 'No',
              value: 'No'
            }
          ]
        }) }}


        <input type="hidden" name="goal1-step2-added" value="true">
        
        {{ govukButton ({
          html: 'Save and continue',
          classes: 'govuk-!-margin-bottom-3'
        }) }}
        <p>or <a href="check-your-answers">cancel</a></p>

      </form>

    </div>
  </div>
{% endblock %}
