{% extends "layout.html" %}

{% block afterHeader %}
  {% include "includes/key-details.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-l">Check the goal before saving</h1>

      <h2 class="govuk-heading-m">Goal summary</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Goal
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['goal1-description'] | nl2br | safe }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="goal">
              Change
              <span class="govuk-visually-hidden"> goal</span>
            </a>
          </dd>
        </div>
        {# <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Related needs
          </dt>
          <dd class="govuk-summary-list__value">
            <ul class="govuk-list govuk-list--bullet">
              {% for need in data['goal1-needs'] %}
                <li>
                  {{ need | replace(" – <span class='risk'>Risk of serious harm</span>", "") }}
                </li>
              {% endfor %}
            </ul>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="goal">
              Change
              <span class="govuk-visually-hidden"> needs</span>
            </a>
          </dd>
        </div> #}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Needs and motivations
          </dt>
          <dd class="govuk-summary-list__value">
            <ul class="govuk-list govuk-list--bullet">
              {% for need in data['goal1-needs'] %}
                <li>
                  {{ need | replace(" – <span class='risk'>Risk of serious harm</span>", "") }}: 
                  {{ data["goal1-motivation"+loop.index] }}
                </li>
              {% endfor %}
            </ul>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="motivations">
              Change
              <span class="govuk-visually-hidden"> motivations</span>
            </a>
          </dd>
        </div>
      </dl>




      {% if data['goal1-reordered'] == 'true' %}
        <h2 class="govuk-heading-m">Step 1</h2>
        {% include "includes/goal1-step2-summary.html" %}
        <h2 class="govuk-heading-m govuk-!-margin-top-9">Step 2</h2>
        {% include "includes/goal1-step1-summary.html" %}
      {% else %} 
        <h2 class="govuk-heading-m">Step 1</h2>
        {% include "includes/goal1-step1-summary.html" %}
        {% if data['goal1-step2-added'] == 'true' %}
        <h2 class="govuk-heading-m govuk-!-margin-top-9">Step 2</h2>
        {% include "includes/goal1-step2-summary.html" %}
        {% endif %}
      {% endif %}

      
      {% if data['goal1-step2-added'] %}
        {{ govukButton ({
          text: 'Add another step',
          href: '#0',
          classes: 'govuk-button--secondary govuk-!-margin-bottom-9'
        }) }}
        {{ govukButton ({
          text: 'Reorder steps',
          href: 'reorder-steps',
          classes: 'govuk-button--secondary govuk-!-margin-bottom-9'
        }) }}
      {% else %}
        {{ govukButton ({
          text: 'Add another step',
          href: 'add-step2',
          classes: 'govuk-button--secondary govuk-!-margin-bottom-9'
        }) }}
      {% endif %}

      <form action="../check-your-answers" method="post" novalidate>

        {% if data['goal1-step1-started'] == 'Yes' %}
          <input type="hidden" name="goal1-step1-status" value="In progress">
        {% endif %}
        {% if data['goal1-step1-started'] == 'Yes' %}
          <input type="hidden" name="goal1-step1-status" value="In progress">
        {% endif %}
        {% if data['goal1-step1-started'] == 'Yes' %}
          <input type="hidden" name="goal1-step1-status" value="In progress">
        {% endif %}
        
        <input type="hidden" name="goal1-added" value="true">

        {{ govukButton ({
          html: 'Save goal',
          classes: 'govuk-!-margin-bottom-3'
        }) }}
        <p>or <a href="../cancel-goal">cancel</a></p>

      </form>

    </div>
  </div>
{% endblock %}
